<div>
  <header></header>
</div>

<ion-content padding>
  <div *ngIf="_auth" class="myPointsContainer">
    <p class="urPoints">Your Points:
      <strong>{{_totalAvailablePoints}}</strong>
      <button ion-button value="redeem" class="redeemBtn" (click)="gotoRewards()">Redeem</button>

    </p>
    <section>
      <div *ngFor="let transactions of _transactionList | chunk:'5'">
        <ul *ngFor="let transaction of transactions" class="listMyPoints">
          <li *ngIf="transaction?.transaction_earning">
            <label>Points Earned at <b>{{transaction?.store_name}}</b></label>
            <span>{{transaction?.billing_time | date:'dd MMM yyyy hh:mm a'}} <br> Receipt Amount :
              {{transaction?.amount }}</span>
            <b class="amount_display"> + {{transaction?.points_issued }}</b>
            <br><span *ngIf="transaction?.points_returned > 0">Points Returned: </span> <span
              *ngIf="transaction?.points_returned > 0"> - {{transaction?.points_returned }}</span>
          </li>
          <li *ngIf="!transaction?.transaction_earning">
            <label>Points Redeemed</label>
            <span>{{transaction?.billing_time | date:'dd MMM yyyy hh:mm a'}}</span>
            <b class="amount_display"> - {{transaction?.points_spent }}</b>
            <br><span *ngIf="transaction.notes.length > 0">Notes: </span> <span *ngIf="transaction.notes.length > 0">
              {{transaction?.notes }}</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <ion-card *ngIf="!_auth" class="myPointsContainer sec">
    <p class="urPoints">You have no points yet</p>
    <!-- <button ion-button value="Earn Points">Earn Points</button> -->
  </ion-card>
</ion-content>