page-transactions {
    .scroll-content{
        background: #fff;
    }
    .listMyPoints {
        margin: 0;
        padding: 0;
        li {
            position: relative;
            margin: 0 0 0px 0;
            padding: 10px 0;
            list-style-type: none;
            border-bottom: 1px solid #ccc;
            label {
                display: block;
            }
            span {
                font-size: 12px;
            }
            b.amount_display {
                position: absolute;
                right: 10px;
                top: 20px;
                z-index: 100
            }
        }
    }

}
