<div>
    <header></header>
</div>

<ion-content class="mainCont" padding>
    <div class="inStoreDetailsContainer">
        <figure>
            <img src="{{storeDetail?.bannerimage}}" />
        </figure>
        <div class="content">
            <h5 text-center>{{storeDetail?.title}}</h5>
            <h6 text-center>{{storeDetail?.subtitle}}</h6>
            <p [innerHTML]="storeDetail?.description"></p>

            <ion-row *ngIf="_locationList.length >= 1">
                <ion-col col-6>
                    <h6 class="subHeader">Date/Time</h6>
                </ion-col>
                <ion-col col-6>
                    <h6 class="subHeader">Location/Outlet</h6>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let loc of _locationList">
                <ion-col col-6>
                    <p class="datetime"> <label for="">{{loc?.date | date:'dd MMM yyyy'}}</label> <span>{{loc?.time}}</span></p>
                </ion-col>
                <ion-col col-6>
                    <span class="location" clickable (click)="gotoEventLocation(loc)">{{loc?.storename}}</span>
                    <ion-icon name="pin" class="alert"></ion-icon>
                    <ion-icon *ngIf="loc?.phone" name="call" class="phoneIco">
                        <a href="tel:{{loc?.phone}}"></a>
                    </ion-icon>
                </ion-col>

            </ion-row>

        </div>
    </div>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <page-tabs></page-tabs>
    </ion-toolbar>
</ion-footer>