page-instoredetails {
    .inStoreDetailsContainer {
        figure {
            margin: 0;
            max-height: 100%;
            overflow: hidden;
        }
        .content {
            background: #fff;
            margin-top: 20px;
            padding: 5px;
            h5 {
                color: #111;
                margin-bottom: 0px;
            }
            h6 {
                margin: 0 0 0px 0;
                color: #333;
            }
            p.datetime {
                color: $cp-extra-darker-grey;
                margin: 0 0 0px 0;
                label {
                    font-size: 12px;
                    color: #000;
                }
                span {
                    font-size: 11px;
                    color: #555;
                }
            }
            .subHeader {
                text-align: left;
                color: #F29827;
            }
            .location {
                text-align: left;
                font-size: 12px;
                color: #000;
                margin: 0;
            }
            .termsConditions {
                color: $cp-medium-blue-color-x;
                display: block;
                margin: 20px 0 0 0
            }
        }
        img {
            width: 100%;
        }
    }
    .phoneIco {
        font-size: 16px;
        font-weight: 800;
        color: #333;
        transform: rotate(-90deg);
    }
    ion-icon.alert {
        margin: 0 6px 0 5px;
    }
    @media(min-width:768px){
    .inStoreDetailsContainer{
       margin:60px 0 0 0;
    }
    .content{
        padding: 30px !important;
    }
    }
}