<!--
  Generated template for the InstoredetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="customHeader">
      <ion-grid>
        <ion-row>
          <ion-col col-10 class="text-center">
              <ion-title>
                <div class="logo">
                    <img src="assets/img/caring_logo_white.png" />
                  </div>
              </ion-title>
          </ion-col>
          <ion-col col-2 class="text-center">
            <div class="notification">
              <i class="count">2</i>
              <img src="assets/img/chat.svg" />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-navbar>
</ion-header>

<!-- <img src="{{storeDetail?.bannerimage}}"/> 
<h5>{{storeDetail?.title}}</h5>
<h6>{{storeDetail?.subtitle}}</h6>
<p>{{storeDetail?.description}}</p>-->
<ion-content>
  <div class="inStoreDetailsContainer">
    <figure>
      <img src="{{storeDetail?.bannerimage}}" />
    </figure>
    <div class="content">
      <h6>{{storeDetail?.title}}</h6>
      <p>{{storeDetail?.subtitle}}</p>
      <p [innerHTML]="storeDetail?.description"></p>
      <ion-grid>
        <ion-row *ngIf="_locationList.length >= 1">
          <ion-col col-4>
              <h6 class="subHeader">Date</h6>
          </ion-col>
          <ion-col col-4>
              <h6 class="subHeader">Time</h6>
          </ion-col>
          <ion-col col-4>
              <h6 class="subHeader">Location</h6>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let loc of _locationList">
          <ion-col col-4>
              <p class="date">{{loc?.date | date:'dd MMM yyyy'}}</p>
          </ion-col>
          <ion-col col-4>
              <p class="date">{{loc?.time}}</p>
          </ion-col>
          <ion-col col-4>
              <span class="location" clickable (click)="gotoEventLocation(loc)">{{loc?.storename}}</span><ion-icon name="pin" class="alert"></ion-icon>
            <ion-icon *ngIf="loc?.phone" name="call" class="phoneIco"><a href="tel:{{loc?.phone}}"></a></ion-icon>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-footer>
   <ion-toolbar>
    <page-tabs></page-tabs>
  </ion-toolbar>
</ion-footer>
