page-login {
    .loginContainer {
        text-align: center;
        padding: 80px 0 0 0;
        .text-input-md {
            text-align: right !important;
        }
        .info {
            margin-top: 70px;
            font-size: 12px;
        }
        .logo {
            width: 100%;
            margin: 35px 0 0 0;
        }
        h2 {
            text-align: center;
            font-weight: normal;
            font-size: 16px;
        }
        h5 {
            text-align: center;
            color: $cp-primary-color;
            font-size: 17px;
            font-weight: normal;
            margin: 0 0 60px 0;
        }
        p {
            text-align: center;
            font-size: 13px;
            margin: 10px 0 50px 0;
        }
        .content {
            margin: 15px 0 0 0;
            box-shadow: 0px 2px 10px $cp-extra-lighter-grey-xxxx;
            border-radius: 7px;
            .item-md,
            .item-ios {
                padding-left: 0;
                border-radius: 7px 7px 0 0;
            }
            .list-md,
            .list-ios {
                margin: 0;
            }
        }
        input:-moz-placeholder {
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        input:-webkit-input-placeholder {
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        input:-ms-input-placeholder {
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        .item-input .label-md,
        .item-select .label-md,
        .item-datetime .label-md,
        .label-ios {
            color: $cp-extra-darker-grey;
            padding: 0 0 0 16px;
        }
        .caringWaterMark {
            margin: 20px 0 0 0;
        }
        ion-label[fixed] {
            width: 0;
            min-width: 0;
        
        }
        .list-ios>.item-block:first-child {
            border-top: none;
        }
    }
    ion-label + ion-input .text-input, 
    ion-label + ion-textarea .text-input, 
    ion-label + .input + .cloned-input {
        margin-left: 0px !important;
        width: calc(100% - (0px / 2) - 16px) !important;
    }
    .mcode{
        margin-top: 12px;
    }
    .accessMsg{
        color: red;
        font-size: 14px !important;
        line-height: 22px !important;
        width: 75%;
        margin: auto;
        margin-top: 10px !important;
    }
    .mobLbl{
        color: #333;
        width: 100% !important;
        padding: 0;
        text-align: left;
    }

    .text-input-ios{
        text-align: right;
    }
}