page-tabs {
	.placeholderIcon{
		background:url('../assets/img/placeholder.svg') no-repeat;
		width: 25px;
    	height: 25px;
	}
	.placeholderIconChanged{
		background:url('../assets/img/location.png') no-repeat;
		width: 25px;
    	height: 25px;
	}
	.giftIcon{
		background:url('../assets/img/gift.svg') no-repeat;
		width: 25px;
    	height: 26px;
	}
	.giftIconChanged{
		background:url('../assets/img/rewards.png') no-repeat;
		width: 25px;
    	height: 26px;
	}
	.idCardIcon{
		background:url('../assets/img/id_card.svg') no-repeat;
		width: 28px;
    	height: 28px;
	}
	.idCardIconChanged{
		background:url('../assets/img/member.png') no-repeat;
		width: 28px;
    	height: 28px;
	}
	.cartIcon{
		background:url('../assets/img/cart.svg') no-repeat;
		width: 29px;
    	height: 27px;
	}
	.cartIconChanged{
		background:url('../assets/img/e-cart.png') no-repeat;
		width: 29px;
    	height: 27px;
	}
}
