<ion-row>
  <ion-col col-3 class="text-center">
    <button *ngIf="!isClicked" ion-button (click)="goto('StoreLocatorPage')" class="placeholderIcon"></button>
    <button *ngIf="isClicked" ion-button (click)="goto('StoreLocatorPage')" class="placeholderIconChanged"></button>
  </ion-col>
    <ion-col col-3 class="text-center">
    <button ion-button [ngClass]="{'giftIcon':!isClicked,'giftIconChanged':isClicked}" (click)="goto('RewardsPage')"></button>
  </ion-col>
    <ion-col col-3 class="text-center">
    <button ion-button [ngClass]="{'idCardIcon':!isClicked,'idCardIconChanged':isClicked}" (click)="goto('MemberPage')"></button>
  </ion-col>
    <ion-col col-3 class="text-center">
    <button ion-button class="cartIcon" (click)="gotoEcart()"></button>
  </ion-col>
</ion-row>
   

