page-tabs {
    .tabiconc-home,
    .tabiconc-location,
    .tabiconc-rewards,
    .tabiconc-members,
    .tabiconc-estore {
        height: 25px;
        background-size: 100% 100%; 
    }
    .tabiconc-home {
        //height: 30px;
        width: 24px;
        background: url(../assets/css/tabicons/home_normal.svg) no-repeat;
        background-size: 100% 100%;
    }
    .active .tabiconc-home {
        // height: 30px;
        // width: 24px;
        background: url(../assets/css/tabicons/home_active.svg) no-repeat;
        background-size: 100% 100%;
    }
    .tabiconc-location {
        //height: 30px;
        width: 20px;
        background: url(../assets/css/tabicons/location_normal.svg) no-repeat;
        background-size: 100% 100%;
    }
    .active .tabiconc-location {
        // height: 30px;
        // width: 20px;
        background: url(../assets/css/tabicons/location_active.svg) no-repeat;
        background-size: 100% 100%;
    }
    .tabiconc-rewards {
        //height: 30px;
        width: 21px;
        background: url(../assets/css/tabicons/rewards_normal.svg) no-repeat;
        background-size: 100% 100%;
    }
    .active .tabiconc-rewards {
        // height: 30px;
        // width: 21px;
        background: url(../assets/css/tabicons/rewards_active.svg) no-repeat;
        background-size: 100% 100%;
    }
    .tabiconc-members {
        //height: 30px;
        width: 27px;
        background: url(../assets/css/tabicons/members_normal.svg) no-repeat;
        background-size: 100% 100%;
    }
    .active .tabiconc-members {
        // height: 30px;
        // width: 27px;
        background: url(../assets/css/tabicons/members_active.svg) no-repeat;
        background-size: 100% 100%;
    }
    .tabiconc-estore {
        //height: 30px;
        width: 26px;
        background: url(../assets/css/tabicons/estore_normal.svg) no-repeat;
        background-size: 100% 100%;
    }
    .active .tabiconc-estore {
        // height: 30px;
        // width: 26px;
        background: url(../assets/css/tabicons/estore_active.svg) no-repeat;
        background-size: 100% 100%;
    }
    .tabsMenu {
        button {
            text-align: center;
            span {
                display: inline-block !important;
            }
            // ion-icon {
            //     color: #333;
            //     font-size: 24px;
            //     display: block;
            // }
            label {
                display: block;
                font-size: 12px;
                line-height: 20px;
                color: #333;
                text-transform: capitalize;
                font-weight: 600;
            }
            &.active {
                ion-icon {
                    color: #096F67;
                }
                label {
                    color: #096F67;
                }
            }
        }
    }
    .active {
        ion-icon {
            color: #096F67;
        }
        label {
            color: #096F67;
        }
    }
    // .placeholderIcon {
    //     background: url('../assets/img/placeholder.svg') no-repeat;
    //     width: 25px;
    //     height: 25px;
    // }
    // .placeholderIconChanged {
    //     background: url('../assets/img/location.png') no-repeat;
    //     width: 25px;
    //     height: 25px;
    // }
    // .giftIcon {
    //     background: url('../assets/img/gift.svg') no-repeat;
    //     width: 25px;
    //     height: 26px;
    // }
    // .giftIconChanged {
    //     background: url('../assets/img/rewards.png') no-repeat;
    //     width: 25px;
    //     height: 26px;
    // }
    // .idCardIcon {
    //     background: url('../assets/img/id_card.svg') no-repeat;
    //     width: 28px;
    //     height: 28px;
    // }
    // .idCardIconChanged {
    //     background: url('../assets/img/member.png') no-repeat;
    //     width: 28px;
    //     height: 28px;
    // }
    // .cartIcon {
    //     background: url('../assets/img/cart.svg') no-repeat;
    //     width: 29px;
    //     height: 27px;
    // }
    // .cartIconChanged {
    //     background: url('../assets/img/e-cart.png') no-repeat;
    //     width: 29px;
    //     height: 27px;
    // }
    .pr{
        position: relative !important;
    }
    .fabName{
        background: #fff !important;
        color: #096F67 !important;
        padding: 4px 16px 5px 16px !important;
        font-size: 14px !important;
        border-radius: 20px !important;
        font-weight: bold !important;
        position: absolute !important;
        right: 60px !important;
        box-shadow: 1px 2px #000 !important;
    }
    .one{
        bottom: 8px !important;
        width: 100px;
        height: 26px;
    }
    .two{
        bottom: 62px !important;
        width: 100px;
        height: 26px;
    }
    .three{
        bottom: 120px !important;
        width: 100px;
        height: 26px;
    }
    .four{
        top: 64px !important;
        width: 100px;
        height: 26px;
    }
    .five{
        top: 8px !important;
        width: 100px;
        height: 26px;
    }
    .fab .button-inner{
        width: 20px !important;
        margin: auto !important;
    }
    .fab-in-list{
        background: #fff;
        color: #fff;
        box-shadow: 1px 2px #000;
    }
    .fab-md-light{
        background: #096F67;
    }
    .fab-close-active .fab-close-icon {
        color: #fff;
    }
    .fab ion-icon{
        color: #fff;
        font-size: 35px;
    }
   .bgFixed{
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
}
