<div>
    <header></header>
</div>


<ion-content class="mainCont">
    <div class="happenDetailsContainer">
        <ion-card>
            <img src="{{_happenList?.bannerimage}}" (click)="zoomArea(_happenList?.bannerimage)" />
        </ion-card> 
        <div class="container">
            <h6 *ngIf="_happenList?.title">{{_happenList?.title}}</h6>
            <p *ngIf="_happenList?.eventdatestring"><span>Date:</span><label> {{_happenList?.eventdatestring}}</label></p>
            <!--<p *ngIf="_happenList?.eventduration"><span>Time:</span><label> {{_happenList?.eventduration}}</label></p>
            <p><span>Venue:</span><label>{{_happenList?.venue}}</label></p>-->
        </div>
        
        <div>
            <p [innerHTML]="_happenList.description | safehtml" padding></p>
        </div>
        <div class="container" *ngIf="_happenList?.registrationurl">
            <a href="{{_happenList?.registrationurl}}" ion-button class="btn4">{{_happenList?.buttonname}}</a>
            <p class="subscription">You will be redirected to our website.</p>
        </div>
    </div>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <page-tabs></page-tabs>
    </ion-toolbar>
</ion-footer>