page-pharmacist-detail {
    .inpharmacistListsContainer {
        figure {
            margin: 0;
            max-height: 100%;
            overflow: hidden;
        }
        .content {
            background: #fff;
            margin-top: 20px;
            padding: 5px;
            h5 {
                color: #111;
                margin-bottom: 0px;
            }
            h6 {
                margin: 0 0 0px 0;
                color: #333;
            }
            p.datetime {
                color: $cp-extra-darker-grey;
                margin: 0 0 0px 0;
                label {
                    font-size: 12px;
                    color: #000;
                }
                span {
                    font-size: 11px;
                    color: #555;
                }
            }
            .subHeader {
                text-align: left;
                color: #F29827;
            }
            .location {
                text-align: left;
                font-size: 12px;
                color: #000;
                margin: 0;
            }
            .termsConditions {
                color: $cp-medium-blue-color-x;
                display: block;
                margin: 20px 0 0 0
            }
        }
        img {
            width: 100%;
        }
    }

        .happenDetailsContainer{
            .container{
                padding:15px;
                h6{
                    font-size:17px;
                    margin:0 0 10px 0;
                }
                p{
                    margin:0 0 5px 0;
                    
                }
                .subscription{
                    color:$cp-extra-darker-grey;
                    margin:10px 0 20px 0;
                    text-align:center;
                }
            }
        }
      
        .btn4{
            font-size: 18px !important;
            border-radius: 0 !important;
            text-transform: uppercase !important;
        }

}



