page-redeem {
     .barCode {
            text-align: center;
            i {
                width: 150px;
                margin: 0 auto;
                display: block;
                img {
                    width: 100%;
                    max-width: 100%;
                }
                label {
                    text-align: center;
                    display: block;
                }
            }
        }
    .redeemContainer {
        margin: 50px 0 0 0;
        .redeemVoucher {
            figure {
                margin: 0 auto;
                width: 200px;
                box-shadow: 0px 2px 4px $cp-extra-lighter-grey-xxxx;
                overflow: hidden;
                height: 100px;
            }
            h6 {
                text-align: center;
                margin: 20px 0 30px 0;
                small {
                    display: block;
                    font-weight: normal;
                    margin: 5px 0 0 0;
                }
            }
        }
       
        .subTitle1 {
            color: $cp-double-extra-lighter-grey-x;
            text-align: center;
            margin: 50px 0 0 0;
        }
    }
    .subSegmentOut {
        ion-segment,
        .toolbar-ios .segment-ios {
            display: inline-block !important;
            width: 100%;
            margin: 10px 0 0 10px;
        }
        .toolbar-md,
        .toolbar-ios {
            box-shadow: none;
        }
        .toolbar-background-md,
        .toolbar-background-ios {
            border-color: transparent;
            background: transparent;
        }
        .segment-md-secondary .segment-button.activated,
        .segment-md-secondary .segment-button.segment-activated {
            border-color: $cp-primary-color;
            color: $cp-primary-color;
            opacity: 1;
        }
        .segment-md-secondary .segment-button {
            color: $cp-extra-lighter-grey-xxxxx;
            opacity: 1;
            font-weight: normal;
            border: 1px solid $cp-extra-lighter-grey-xxxxx;
            border-radius: 5px;
            text-transform: capitalize;
            font-size: 14px;
        }
        .segment-md .segment-button,
        .segment-ios-secondary .segment-button {
            border-bottom-width: 0;
            border-bottom-style: none;
            border-bottom-color: transparent;
            height: auto;
            width: 28%;
            display: inline-block;
            padding: 3px;
            float: left;
            margin: 5px;
        }
        .segment-ios-secondary .segment-button {
            color: $cp-extra-darker-grey;
            border: 1px solid $cp-extra-darker-grey;
            border-radius: 5px;
        }
        .segment-ios-secondary .segment-button.segment-activated {
            border-color: $cp-primary-color;
            color: $cp-primary-color;
            opacity: 1;
        }
        .toolbar-ios {
            min-height: 50px;
        }
    }
    .redeemDetailsContainer {
        background: #fff;
        figure {
            margin: 0;
            max-height: 150px;
            overflow: hidden;
        }
        h6 {
            margin: 0;
            display: inline-block;
            padding: 5px 16px;
            border-bottom: 1px solid #ccc;
            width: 100%;
            line-height: 35px;
            .btn-redeem {
                float: right;
                background: $btn-default;
                color: #fff;
                padding: 10px;
            }
        }
        .content {
            padding: 0px;
            article {
                background: #eee;
                padding: 0px 15px 0px 15px;
                h1 {
                    padding: 15px 0 0 0;
                    margin-top: 20px;
                }
            }
        }
    }
    .fixedImage {
        max-height: 180px;
    }
    .fixedImage img {
        width: 95%;
        display: block;
        margin: auto;
        padding: 20px;
    }
    .danger {
        color: #f00;
    }
    .listMyPoints {
        margin: 0 16px;
        padding: 0;
        li {
            margin: 0 0 0px 0;
            padding: 10px 0;
            list-style-type: none;
            position:relative;
            label {
                float: left;
                color: $btn-default;
            }
            span {
                // float: right;
                font-size: 11px;
                display:block;
                text-align: center;
            }
            button{
                background: #096F67;
                color: #fff;
                padding: 10px;
                /* height: 16px; */
                position: absolute;
                right: 0;
                top: -2px;
                margin: 4px 0 45px 0;
                        }
        }
    }
}