page-health-info {

    .healthInfoContainer {
        margin: 0 0 0 0;
        h3 {
            margin: 9px 0 0 0;
            color: $cp-extra-darker-grey;
            font-weight: 600;
        }
        .headerwithline {
            border-bottom: 1px solid #bdbdbd;
            display: inline-block;
            width: 100%;
            label {
                float: left;
                line-height: auto;
                font-size: 18px;
                color: #808080;
                font-family: 'allerbold';
                margin: 15px 0 0 0;
            }
            a {
                float: right;
                width: 190px;
                padding: 0;
                margin: 0;
                img {
                    width: 100%;
                }
            }
        }
        .card-md,
        .card-ios {
            border-radius: 5px;
            figure {
                margin: 0;
                height: 200px;
                overflow: hidden;
            }
            .card-content-md {
                padding: 10px;
                .card-title {
                    font-weight: 600;
                    margin: 0 0 5px 0;
                    line-height: normal;
                }
                p {
                    margin: 0 0 8px 0;
                    line-height: normal;
                    color: $cp-extra-darker-grey;
                    font-family: 'allerregular';
                }
                .button-md {
                    background-color: $cp-primary-color;
                    height: auto;
                    margin: 0;
                    width: 100%;
                    font-size: 14px;
                    padding: 5px 0;
                    box-shadow: none;
                    text-transform: capitalize;
                    font-weight: normal;
                    border-radius: 5px;
                }
            }
        }
        .healthInfoCards {
            min-height: 141px;
            margin-bottom: 25px;
            padding: 0 0 0 10px;
            .left {
                float: left;
                margin: 0 0px 0 0;
                width: 50%;
                min-height: 141px;
                img {
                    border: 1px solid #1bb463;
                }
            }
            .right {
                float: left;
                width: 50%;
                padding: 0px 10px;
                position: relative;
                min-height: 141px;
                label {
                    font-weight: bold;
                    font-size: 14px;
                    display: block;
                    color: #111;
                    margin-bottom: 10px;
                    font-family: 'allerbold';
                }
                span {
                    font-size: 11px;
                    display: block;
                    margin-bottom: 10px;
                    font-family: 'allerregular';
                }
                .button-ios {
                    border-radius: 0px;
                }
                button {
                    background: #1bb463;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 5px 10px;
                    position: static;
                    bottom: 3px;
                    line-height: 21px;
                    height: 30px;
                    margin: 0px;
                    font-family:'Axis';
                    span {
                        margin: 0px;
                        padding: 0px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .pdadj{
        padding: 0 15px 0px 10px;
        margin-bottom: 10px;
    }
}