<div>
    <header></header>
</div>

<ion-content class="mainCont">
    <div class="healthInfoContainer">
        <ion-grid>
            <article class="">
                <ion-row class="headerwithline">
                    <ion-col col-5>
                        <h3>Health<br> Information</h3>
                    </ion-col>
                    <ion-col col-7>
                        <a (click)="navToHealthSubscribe()"><img src="assets/img/healthInformation.png" alt=""></a>
                    </ion-col>
                </ion-row>
            </article>
            <div *ngFor="let healthy of _healthInfoList | chunk:2">
            <div class="healthInfoCards" *ngFor="let health of healthy" tappable (tap)="navToHealthDetails(health)">
                <!-- <div class="left">
                    <figure>
                        <img src="{{health?.thumbnailimage}}" />
                    </figure>
                </div>
                <div class="right">
                    <label>{{health?.title}}</label>
                    <span [innerHTML]="health?.subtitle"></span>
                    <button ion-button>{{health?.buttonname}}</button>
                </div> -->
                <ion-row>
                    <ion-col col-8>
                        <h5>{{health?.title}}</h5>
                        <p [innerHTML]="health?.subtitle"></p>
                    </ion-col>
                    <ion-col col-4>
                        <figure>
                            <img  [src]="health?.thumbnailimage" />
                        </figure>
                    </ion-col>
                </ion-row>
            </div>
            </div>
        </ion-grid>
    </div>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <page-tabs></page-tabs>
    </ion-toolbar>
</ion-footer>