page-store-locator {
    .searchOut {
        position: absolute;
        top: 10px;
        width: 100%;
        z-index: 99;
        padding: 0;
        border: 1px solid $cp-primary-color;
        .text-input-md,
        .text-input-ios {
            margin: 5px 20px;
        }
        .item-input ion-input:before,
        .ion-ios-close:before {
            content: "\f375";
            position: absolute;
            top: 0px;
            z-index: 9999;
            padding: 10px;
            font-family: "Ionicons";
            left: 0;
            font-size: 20px;
            color: $cp-extra-darker-grey-x;
        }
        .item-input ion-input:after,
        .ion-ios-close:before {
            content: "\f2c0";
            position: absolute;
            top: 0px;
            z-index: 9999;
            padding: 10px;
            font-family: "Ionicons";
            right: 0;
            font-size: 20px;
            color: $cp-extra-darker-grey-x;
            cursor: pointer;
        }
    }
    #map {
        height: 60%;
        width: 100%;
        position: relative;
    }
    .storeLocatorContainer {
        ion-segment {
            background: $cp-white-color;
        }
        .segment-ios .segment-button.segment-activated,
        .segment-md .segment-button.activated,
        .segment-md .segment-button.segment-activated {
            border-color: transparent;
            opacity: 1;
            background: $cp-primary-color;
            color: #227f78;
            border: 2px solid #227f78;
        }
        .segment-ios .segment-button,
        .segment-md .segment-button {
            text-transform: capitalize;
            font-size: 15px;
            font-weight: normal;
            color: $cp-black-color;
            opacity: 1;
            border-radius: 0;
            border-color: transparent;
        }
        .locationContainer {
            padding: 15px;
            max-height: 300px;
            overflow: auto;
            .grid {
                padding: 0;
            }
            h4 {
                margin: 0;
                font-size: 17px;
            }
            span {
                color: $cp-extra-lighter-grey-xxx;
                font-size: 13px;
            }
            p {
                margin: 5px 0 0 0;
                color: $cp-extra-darker-grey;
                font-size: 13px;
            }
            .favIcon {
                font-size: 21px;
                padding: 2px 0 0 0;
            }
            .iconsOut{
                margin: 23px 0 0 0;
                .phoneIcon{
                    font-size: 22px;
                    color: #000;
                    margin: 10px 0 0 0;
                    display: block;
                }
                .locatorIcon{
                    font-size: 22px;
                }
            }
        }
        .customCol{
            [col-1] {
                padding:0 5px;
            }
        }
    }
    .locationContainerTwo {
        max-height: 300px;
        overflow: auto;
        h4 {
            margin: 0;
            font-size: 17px;
        }
        span {
            color: $cp-extra-lighter-grey-xxx;
            font-size: 13px;
        }
        p {
            margin: 5px 0 0px 0;
            color: $cp-extra-darker-grey;
            font-size: 13px;
        }
        .favIcon {
            font-size: 21px;
            padding: 2px 0 0 0;
        }
        .iconsOut{
            margin: 23px 0 0 0;
            .phoneIcon{
                font-size: 22px;
                color: #000;
                margin: 10px 0 0 0;
                display: block;
            }
            .locatorIcon{
                font-size: 22px;
            }
        }
        .customCol{
            [col-1] {
                padding:0 5px;
            }
        }
    }
    .searchbar-md {
        padding: 0 !important;
    }
    .searchCard {
        width: 100% !important;
        margin: 0 !important;
    }
    .loacator, .phone{
        margin: 0 0 0 10px;
    }

    @media(min-width:768px){
        .searchOut{
            top:10px;
        }
    }
    .locatorIcon{font-size: 26px;}
    .phoneIcon{color: #000;font-size: 23px;}
    
}