<div>
    <header></header>
</div>


<ion-content class="mainCont">
    <div class="searchOut">
        <ion-searchbar [(ngModel)]="_searchKey" placeholder="Find" (ionInput)="onInput($event)" (ionClear)="onCancel($event)">
        </ion-searchbar>
    </div>

    <!--loading google map here-->
    <div #myMap id="map" class="mapContainer"></div>

    <div class="storeLocatorContainer" *ngIf="_searchKey ==''">
        <ion-segment [(ngModel)]="locationState">
            <ion-segment-button value="near_you">
                Near You
            </ion-segment-button>
            <ion-segment-button value="favourite">
                Favourite
            </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="locationState">
            <ion-list *ngSwitchCase="'near_you'">
                <div class="locationContainer">
                    <ion-grid *ngFor="let location of updatedLocationList">
                        <article tappable (click)="setMarker(location)">
                            <ion-row>
                                <ion-col col-11>
                                    <h4>{{location?.storeName}}</h4>
                                </ion-col>
                                <ion-col col-1>
                                    <ion-icon *ngIf="!location?.favourite" name="heart-outline" class="favIcon" (click)="setFav(location)"></ion-icon>
                                    <ion-icon *ngIf="location?.favourite" class="favIcon" color="danger" ios="ios-heart" md="md-heart" (click)="removeFav(location)"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-1>
                                    <ion-icon name="pin" class="alert" tappable (click)="gotoStoreDirection(location)"></ion-icon>
                                </ion-col>
                                <ion-col col-11>
                                    <span>{{location?.distance | number : '1.2-2'}} Km away</span>
                                    <p>
                                        {{location?.storeDescription}}<br/> Contact: {{location?.mobile}}<br/> {{location?.timing}}
                                        <br/>
                                        <!--Fri-Sat 10:00AM - 10:30PM-->
                                    </p>
                                </ion-col>
                            </ion-row>
                        </article>
                    </ion-grid>
                </div>
            </ion-list>
            <ion-list *ngSwitchCase="'favourite'">
                <div class="locationContainer">
                    <ion-grid *ngFor="let fav of favouriteList">
                        <article tappable (click)="setMarker(fav)">
                            <ion-row>
                                <ion-col col-11>
                                    <h4>{{fav?.storeName}}</h4>
                                </ion-col>
                                <ion-col col-1>
                                    <!--<ion-icon *ngIf="!fav?.favourite" name="heart-outline" class="alert favIcon"></ion-icon>-->
                                    <ion-icon *ngIf="fav?.favourite" class="favIcon" color="danger" ios="ios-heart" md="md-heart" (click)="removeFav(fav)"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-1>
                                    <ion-icon name="pin" tappable class="alert" (click)="gotoStoreDirection(fav)"></ion-icon>
                                </ion-col>
                                <ion-col col-11>
                                    <span>{{ fav?.distance | number : '1.2-2'}} Km away</span>
                                    <p>
                                        {{fav?.storeDescription}}<br/> Ph: {{fav?.mobile}}<br/> {{fav?.timing}}
                                        <br/>
                                    </p>
                                </ion-col>
                            </ion-row>
                        </article>
                    </ion-grid>
                </div>
            </ion-list>
        </div>
    </div>
    <div *ngIf="_searchKey!=''">
        <div class="locationContainerTwo">
            <ion-grid *ngFor="let filter of _newFilteredList">
                <article tappable (click)="setMarker(filter)" class="searchCard">
                    <ion-row>
                        <ion-col col-11>
                            <h4>{{filter?.storeName}}</h4>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon *ngIf="!filter?.favourite" name="heart-outline" class="favIcon" (click)="setFav(filter)"></ion-icon>
                            <ion-icon *ngIf="filter?.favourite" class="favIcon" color="danger" ios="ios-heart" md="md-heart" (click)="removeFav(filter)"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1>
                            <ion-icon name="pin" class="alert" tappable (click)="gotoStoreDirection(filter)"></ion-icon>
                        </ion-col>
                        <ion-col col-11>
                            <span>{{filter?.km | number : '1.2-2'}} Km away</span>
                            <p>
                                {{filter?.storeDescription}}<br/> Ph: {{filter?.mobile}}<br/> {{filter?.timing}}
                                <br/>
                                <!--Fri-Sat 10:00AM - 10:30PM-->
                            </p>
                        </ion-col>
                    </ion-row>
                </article>
            </ion-grid>
        </div>
    </div>
</ion-content>


<ion-footer>
    <ion-toolbar>
        <page-tabs></page-tabs>
    </ion-toolbar>
</ion-footer>