page-store-locator {
	.searchOut{
    	position:absolute;
    	top:2px;
    	width:100%;
    	z-index:99;
    	padding:0;
    	border:1px solid $cp-primary-color;
    	.text-input-md, .text-input-ios{
    		margin: 5px 20px;
    	}
    	.item-input ion-input:before, .ion-ios-close:before{
		    content: "\f375";
		    position: absolute;
		    top: 0px;
		    z-index: 9999;
		    padding: 10px;
		    font-family: "Ionicons";
		    left: 0;
		    font-size: 20px;
		    color:$cp-extra-darker-grey-x;
    	}
    	.item-input ion-input:after, .ion-ios-close:before{
    		content: "\f2c0";
    		position: absolute;
		    top: 0px;
		    z-index: 9999;
		    padding: 10px;
		    font-family: "Ionicons";
		    right: 0;
		    font-size: 20px;
		    color:$cp-extra-darker-grey-x;
		    cursor:pointer;
    	}
    }
    #map {

        height: 60%;
        width: 100%;
        position:relative;

    }
    .storeLocatorContainer{
	    ion-segment{
	    	background:$cp-white-color;
	    }
	    .segment-ios .segment-button.segment-activated, .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
		    border-color: transparent;
		    opacity: 1;
		    background: $cp-primary-color;
		    color: $cp-white-color;
		    border:2px solid $cp-darker-primary-color;
		}
		.segment-ios .segment-button, .segment-md .segment-button{
		    text-transform: capitalize;
		    font-size: 15px;
    		font-weight: normal;
    		color: $cp-black-color;
    		opacity: 1;
    		border-radius: 0;
    		border-color: transparent;
		}
		.locationContainer{
			padding:15px;
			max-height: 300px;
			overflow: auto;
			.grid{
				padding:0;
			}
			h4{
				margin:0;
				font-size: 17px;
			}
			span{
				color:$cp-extra-lighter-grey-xxx;
				font-size:13px;
			}
			p{
				margin:5px 0 10px 0;
				color:$cp-extra-darker-grey;
				font-size:13px;
			}
			.favIcon{
				font-size: 21px;
    			padding: 2px 0 0 0;
			}
		}
    }
	.locationContainerTwo{
		max-height: 300px;
		overflow: auto;
		h4{
			margin:0;
			font-size: 17px;
		}
		span{
			color:$cp-extra-lighter-grey-xxx;
			font-size:13px;
		}
		p{
			margin:5px 0 10px 0;
			color:$cp-extra-darker-grey;
			font-size:13px;
		}
		.favIcon{
			font-size: 21px;
			padding: 2px 0 0 0;
		}
	}
	.searchbar-md{
		padding: 0 !important;
	}
	.searchCard{
		width:100% !important;
		margin:0 !important;
	}
}
