page-edit-profile {
    .customRadioOut{
        .grid, .col {
            padding: 0;
        }
        .custLabel{
            color:#999;
        }
        ion-label, .input-wrapper{
            flex: initial;
        }
    }
}
