@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?ec9z05');
    src: url('../fonts/icomoon.eot?ec9z05#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?ec9z05') format('truetype'), url('../fonts/icomoon.woff?ec9z05') format('woff'), url('../fonts/icomoon.svg?ec9z05#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconc-"],
[class*=" iconc-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconc-coins:before {
    content: "\e90a";
}

.iconc-ticket:before {
    content: "\e90c";
}

.iconc-home:before {
    content: "\e911";
}

.iconc-chat:before {
    content: "\e906";
}

.iconc-book:before {
    content: "\e900";
}

.iconc-user:before {
    content: "\e901";
}

.iconc-id-card:before {
    content: "\e902";
}

.iconc-cart:before {
    content: "\e903";
}

.iconc-bag:before {
    content: "\e904";
}

.iconc-facebook2:before {
    content: "\e907";
    color: #3b5998;
}

.iconc-instagram2:before {
    content: "\e908";
    color: #e4405f;
}

.iconc-pinterest2:before {
    content: "\e909";
    color: #ef145f;
}

.iconc-twitter2:before {
    content: "\e90b";
    color: #1da1f2;
}

.iconc-youtube2:before {
    content: "\e90e";
    color: #cd201f;
}

.iconc-megaphone:before {
    content: "\e905";
}

.iconc-map:before {
    content: "\e914";
}

.iconc-log-in:before {
    content: "\e916";
}

.iconc-log-out:before {
    content: "\e917";
}

.iconc-gift:before {
    content: "\e99f";
}

.iconc-google-plus2:before {
    content: "\ea8c";
}

.iconc-facebook:before {
    content: "\ea91";
}

.iconc-instagram:before {
    content: "\ea92";
}

.iconc-twitter:before {
    content: "\ea96";
}

.iconc-youtube:before {
    content: "\ea9d";
}

.iconc-pinterest:before {
    content: "\ead1";
}