<article class="headerDesk">
    <ion-row showWhen="core">
        <ion-col col-3>
        </ion-col>
        <ion-col col-9 text-right>
            <ul>
                <li>
                    <a href="javascript:;" (click)="navTo('MemberPage')"> My Account</a>
                </li>
                <li>
                    <a href="javascript:;" (click)="goToRewards('Redemption')"> My Redemption</a>
                </li>
                <li>
                    <a href="javascript:;"  (click)="navTo('TransactionsPage')"> My Transaction </a>
                </li>
                <li>
                    <a href="javascript:;"  (click)="goToRewards('Rewards')"> My Voucher </a>
                </li>
                <li>
                    <a href="javascript:;" (click)="navTo('ProfilePage')"> My Profile </a>
                </li>
            </ul>
        </ion-col>
    </ion-row>
</article>