<div>
    <header></header>
</div>




<ion-content class="mainCont">
    <div class="memberContainer">
        <div class="row">
            <div class="col">
                <img src="assets/img/card_regular.png" alt="" class="mt30">
            </div>
            <div class="col" text-center>
                <div class="barcode">
                    <svg #barcode id="barcode"></svg>
                </div>
            </div>
        </div>

        <ion-toolbar>
            <ion-segment [(ngModel)]="member" color="secondary">
                <ion-segment-button value="My Points">
                    My Points
                </ion-segment-button>
                <ion-segment-button value="My Profile">
                    My Profile
                </ion-segment-button>
            </ion-segment>
        </ion-toolbar>
        <div [ngSwitch]="member">
            <ion-list *ngSwitchCase="'My Points'">
                <div *ngIf="_auth" class="myPointsContainer">
                    <p class="urPoints">Your Points:
                        <strong>{{_totalAvailablePoints}}</strong>
                        <button ion-button value="redeem" class="reedemBtn" (click)="gotoRewards()">Redeem</button>

                    </p>
                    <section>
                        <ul *ngFor="let transaction of _transactionList" class="listMyPoints">
                            <li *ngIf="transaction?.transaction_earning">
                                <label for="">Points Earned at <b>{{transaction?.store_name}}</b></label>
                                <span>{{transaction?.billing_time | date:'dd MMM yyyy hh:mm a'}} <br> Receipt Amount : {{transaction?.amount }}</span>
                                <b class="amount_display"> + {{transaction?.points_issued | round }}</b>
                            </li>
                            <li *ngIf="!transaction?.transaction_earning">
                                <label for="">Points Redeemed</label>
                                <span>{{transaction?.billing_time | date:'dd MMM yyyy hh:mm a'}}</span>
                                <b class="amount_display"> - {{transaction?.points_spent | round }}</b>
                            </li>
                        </ul>
                    </section>
                </div>
                <ion-card *ngIf="!_auth" class="myPointsContainer sec">
                    <p class="urPoints">You have no points yet</p>
                    <button ion-button value="Earn Points">Earn Points</button>
                </ion-card>
            </ion-list>
     
            <ion-list *ngSwitchCase="'My Profile'">
                <div class="myProfileContainer">
                    <div *ngIf="_auth" class="">
                        <div class="">
                            <ion-list>
                                <ion-item>
                                    <ion-label stacked>Name</ion-label>
                                    <ion-input type="text" disabled [(ngModel)]="_userName" placeholder="Enter Name"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label stacked>E-mail</ion-label>
                                    <ion-input type="text" disabled [(ngModel)]="_emailId" placeholder="Enter E-mail"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label stacked>Mobile Number</ion-label>
                                    <ion-input type="text" disabled [(ngModel)]="_mobileNum"></ion-input>
                                </ion-item>
                                <ion-item *ngIf="_birthday">
                                    <ion-label stacked>Birthday</ion-label>
                                    <ion-input type="text" disabled [(ngModel)]="_birthday"></ion-input>
                                </ion-item>
                            </ion-list>
                            <div class="mt20" padding>
                                <button ion-button  class="btn4" (click)="memberEdit()">Edit Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-list>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <page-tabs></page-tabs>
    </ion-toolbar>
</ion-footer>

