<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div class="customHeader">
			<ion-grid>
				<ion-row>
					<ion-col col-10 class="text-center">
						<ion-title>
							<div class="logo">
								<img src="assets/img/caring_logo_white.png" />
							</div>
						</ion-title>
					</ion-col>
					<ion-col col-2 class="text-center">
						<div class="notification">
							<i class="count">2</i>
							<img src="assets/img/chat.svg" />
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="memberContainer">
		<!-- <div class="profileOut">
			<i> -->
				<!-- <img *ngIf="!_profilePic" src="assets/img/no_photo.jpg">   //profile photo section removed //
				<img *ngIf="_profilePic" src="{{IMG_URL}}/{{_profilePic}}"> -->
			<!-- </i>
			<p>{{_userName}}</p>
		</div> -->
		<div class="barCode">
			<i>
				<img src="assets/img/barcode.png" />
				<label>{{_mobileNum}}</label>
				<!-- <label>9611045617</label> -->
			</i>
		</div>
		<ion-toolbar>
			<ion-segment [(ngModel)]="member" color="secondary">
				<ion-segment-button value="My Points">
					My Points
				</ion-segment-button>
				<ion-segment-button value="My Wallet" (click)="loadMyWallet()">
					My Wallet
				</ion-segment-button>
				<ion-segment-button value="My Profile">
					My Profile
				</ion-segment-button>
			</ion-segment>
		</ion-toolbar>
		<div [ngSwitch]="member">
			<!-- Section for My Points -->
			<ion-list *ngSwitchCase="'My Points'">
				<div *ngIf="_auth" class="myPointsContainer">
					<p class="urPoints">Your Points:
						<strong>{{_totalAvailablePoints}}</strong>
					</p>
				</div>
				<ion-card *ngIf="!_auth" class="myPointsContainer sec">
					<p class="urPoints">You have no points yet</p>
					<button ion-button value="Earn Points">Earn Points</button>	
				
				</ion-card>

			</ion-list>
			<!-- Startssssssssssssssssssssssssssssssssssss -->
			<ion-list *ngSwitchCase="'My Wallet'">
				<div *ngIf="_auth" class="subSegmentOut">
					<ion-toolbar>
						<ion-segment [(ngModel)]="memberDetails" color="secondary">
							<ion-segment-button value="New">New</ion-segment-button>
							<ion-segment-button value="Used">Used</ion-segment-button>
							<ion-segment-button value="Expired">Expired</ion-segment-button>
						</ion-segment>
					</ion-toolbar>
				</div>
					<ion-card *ngIf="!_auth" class="myPointsContainer sec">
						<p class="urPoints">Your wallet is empty</p>
						<button ion-button value="Redeem Vouchers">Redeem Vouchers</button>		
					</ion-card>
				
				<div [ngSwitch]="memberDetails">
					<!-- New section starts. -->
					<ion-list *ngSwitchCase="'New'">
						<div class="newContainer">
							<ion-card>
								<ion-grid *ngFor="let reward of redeemdRewards">
									<div class="content" *ngIf="reward.ActivateStatus == 0 && reward.ExpiryDate <= currentDate">
										<ion-row class="customRow">
											<ion-col col-7>
												<figure>
													<img src="{{reward.MasterCreativePath}}" />
												</figure>
											</ion-col>
											<ion-col col-5>
												<p class="voucher">RM10 Voucher</p>
												<p class="alert subContent">Exchange Point: 1500</p>
											</ion-col>
										</ion-row>
									</div>
									<div class="content">
										<ion-row class="customRow">
											<ion-col col-7>
												<figure>
													<img src="assets/img/h2.jpg" />
												</figure>
											</ion-col>
											<ion-col col-5>
												<p class="voucher">RM10 Voucher</p>
												<p class="alert subContent">Exchange Point: 1500</p>
											</ion-col>
										</ion-row>
									</div>
									<div class="content">
										<ion-row class="customRow">
											<ion-col col-7>
												<figure>
													<img src="assets/img/h2.jpg" />
												</figure>
											</ion-col>
											<ion-col col-5>
												<p class="voucher">RM10 Voucher</p>
												<p class="alert subContent">Exchange Point: 1500</p>
											</ion-col>
										</ion-row>
									</div>
								</ion-grid>
							</ion-card>
						</div>
					</ion-list>
					<!-- Used section starts. -->
					<ion-list *ngSwitchCase="'Used'">
						<div class="newContainer">
							<ion-card>
								<ion-grid *ngFor="let reward of redeemdRewards">
									<div class="content" *ngIf="reward.ActivateStatus == 1">
										<ion-row class="customRow">
											<ion-col col-7>
												<figure>
													<img src="assets/img/h2.jpg" />
												</figure>
											</ion-col>
											<ion-col col-5>
												<p class="voucher">RM10 Voucher</p>
												<p class="alert subContent">Exchange Point: 1500</p>
											</ion-col>
										</ion-row>
									</div>
								</ion-grid>
							</ion-card>
						</div>
					</ion-list>
					<!-- Expired section starts. -->
					<ion-list *ngSwitchCase="'Expired'">
						<div class="newContainer">
							<ion-card>
								<ion-grid *ngFor="let reward of redeemdRewards">
									<div class="content" *ngIf="reward.ActivateStatus == 0 && reward.ExpiryDate > currentDate">
										<ion-row class="customRow">
											<ion-col col-7>
												<figure>
													<img src="assets/img/h2.jpg" />
												</figure>
											</ion-col>
											<ion-col col-5>
												<p class="voucher">RM10 Voucher</p>
												<p class="alert subContent">Exchange Point: 1500</p>
											</ion-col>
										</ion-row>
									</div>
								</ion-grid>
							</ion-card>
						</div>
					</ion-list>
				</div>
			</ion-list>
			<!-- Endssssssssssssssssssssssssssssssss -->
			<ion-list *ngSwitchCase="'My Profile'">
				<div class="myProfileContainer">
					<div  *ngIf="_auth"  class="container">
						<div class="content">
							<ion-list>
								<ion-item>
									<ion-label fixed>Name</ion-label>
									<ion-input type="text"  [(ngModel)] = "_userName"  placeholder="Enter Name"></ion-input>
								</ion-item>
								<ion-item>
									<ion-label fixed>E-mail</ion-label>
									<ion-input type="text"   [(ngModel)] = "_emailId" placeholder="Enter E-mail"></ion-input>
								</ion-item>
								<ion-item>
									<ion-label fixed>Mobile Number</ion-label>
									<ion-input type="text" readonly  [(ngModel)] = "_mobileNum"></ion-input>
								</ion-item>
								<!-- <ion-item>
									<ion-label>Notifications</ion-label> //-notification bar disabled //
									<ion-toggle [(ngModel)]="sausage"></ion-toggle>
								</ion-item> -->
							</ion-list>
						</div>
						<div class="mt20">
							<button ion-button class="btn4" (click)=" updateData()">Update</button>
						</div>
					</div>
					<ion-card *ngIf="!_auth" class="myPointsContainer sec">
						<p class="urPoints">Login to view your profile</p>
						<button ion-button>Login</button>

					</ion-card>
				</div>
			</ion-list>
		</div>
	</div>
</ion-content>

<ion-footer>
   <ion-toolbar>
    <page-tabs></page-tabs>
  </ion-toolbar>
</ion-footer>