<div>
  <header></header>
</div>

<ion-content class="mainCont">
  <div class="myProfileContainer">
    <div *ngIf="_auth" class="">
      <div class="">
        <ion-list>
          <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input type="text" disabled [(ngModel)]="_userName" placeholder="First Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Last Name</ion-label>
            <ion-input type="text" disabled [(ngModel)]="_lastName" placeholder="Last Name"></ion-input>
          </ion-item>

          <ion-item *ngIf="_emailId">
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" disabled [(ngModel)]="_emailId"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Mobile Number</ion-label>
            <ion-input type="text" disabled [(ngModel)]="_mobileNum"></ion-input>
          </ion-item>
          <ion-item *ngIf="_birthday">
            <ion-label stacked>Birthday</ion-label>
            <ion-input type="text" disabled [(ngModel)]="_birthday"></ion-input>
          </ion-item>
        </ion-list>
        <div class="mt20" padding>
          <button ion-button class="btn4" (click)="memberEdit()">Edit Profile</button>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <page-tabs></page-tabs>
  </ion-toolbar>
</ion-footer>