<div>
  <header></header>
</div>


<ion-content>
  <div class="rewardsContainer">
    <div class="rewardsCards">
      <article class="title">
       <h4>Rewards / Voucher</h4>
     </article>
      <!-- Section to be displayed when there is data. -->
      <div *ngIf="offerdata.length >= 1">
        <div *ngFor="let offer of offerdata">
        <article *ngIf="offer?.is_visible == 1" (click)="navToRedeem(offer)">
          <ion-grid>
            <ion-row class="first">
              <ion-col col-5>
          <figure>
            <img *ngIf="offer?.Images[0]" src="{{offer?.Images[0]}}" />
              <img *ngIf="!offer?.Images[0]" src="assets/img/h2.jpg" />
          </figure>
        </ion-col>
        <ion-col col-7>
          <div class="content">
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <h6>{{offer?.Title}}</h6>
                  <span class="iconc-coins"> {{offer?.BrandPointRedeemValue}} </span>
                  <span class="iconc-ticket"> 1 </span>
                  <!--<ul class="voucherPrice">
                    <li>
                      <span></span>
                    </li>
                    <li>
                      
                    </li>
                  </ul>-->
                </ion-col>
                <!--<ion-col col-6>
                  <button ion-button class="btn2">Purchase</button>
                </ion-col>-->
              </ion-row>
            </ion-grid>
          </div>
          </ion-col>
          </ion-row>
          </ion-grid>
        </article>
        </div>
      </div>
      <!-- Section to be displayed when there is no data to display. -->
      <section *ngIf="offerdata.length <= 0">
        <div class="beforeLogin">
          <i class="imgOut">
            <img src="assets/img/my_rewards.png" />
          </i>
          <p>Stay Tuned!
            <br/>Exciting offers coming soon!</p>
        </div>
      </section>
    </div>
  </div>
</ion-content>


<ion-footer>
<ion-toolbar>
<page-tabs></page-tabs>
</ion-toolbar>
</ion-footer>

<mymodal #login>
    <!--<h2 class="errorInfo"></h2>-->
		<p>Please Login/Register to continue</p>
		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<button ion-button class="btn2 cancelBtn" (click)="cancelRedeem()">Cancel</button>
				</ion-col>
				<ion-col col-6>
					<button ion-button class="btn2" (click)="navToLogin()">Login/Register</button>
				</ion-col>
			</ion-row>
		</ion-grid>
		</mymodal>