page-rewards {
  .rewardsContainer {
    .rewardsCards {
      margin: 0 0 30px 0;
      .title{
        background: #fff;
        padding: 10px 20px 0px 20px;

      }
      .iconc-coins:before {
        content: "\e90a";
        font-size: 20px;
        margin: 0 0px 0 0px;
        position: relative;
        top: 3px;
        color: #999;
    }
    .iconc-ticket:before {
      content: "\e90c";
      font-size: 20px;
      margin: 0px 0px 0 0;
      position: relative;
      top: 4px;
      color: #999;
  }
  span{
    color: rgb(130, 144, 200);
    margin-right: 15px;
    font-weight: 600;
  }
      h4{
        background: #fff;
        margin: 0;
        padding: 10px 0;
        border-bottom: 2px solid #444;
      }
      article{
        background: #fff;
        padding: 10px 10px 0 10px;
        .grid{
          padding-bottom: 0;
        }
        ion-row.first{
          border-bottom: 2px solid rgb(198,87,114); 
          padding-bottom: 13px;
        }
      }
      figure {

          margin: 0;
          max-height: 120px;
          overflow: hidden;
          -webkit-box-shadow: 0px 3px 7px #bbb;
          box-shadow: none;
      
      }
      h6 {
        font-weight: 600;
      }
      .voucherPrice {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          display: inline-block;
          span {
            border-right: 1px solid $cp-extra-darker-grey;
            padding: 0 5px 0 0;
            color: $cp-extra-darker-grey;
            font-size: 13px;
          }
          &:last-child {
            span {
              border-right: none;
              padding: 0 0 0 2px;
            }
          }
        }
      }
      .content {
        margin: 7px 0 0 0;
        h6{
          margin-top: 0;
        }
      }
      .beforeLogin {
        padding: 0px;
        .imgOut {
          display: block;
          padding: 50px 30px 70px 30px;
          text-align: center;
          img {
            margin: 0 auto;
            width: auto;
            max-width: 100%;
          }
        }
        p {
          color: #595758 !important;
          margin: 0 0 50px 0;
          text-align: center;
        }
      }
    }
  }
}

