page-promotion-voucher-details {

    .rewardsDetailsContainer{
		background: #fff;
		figure{
			margin:0;
            overflow: hidden;
			text-align: center;
			img{
				padding: 0;
				margin-top: 20px;
				color: #6a6a6a;
				padding-bottom: 20px;
			}
		}
		.content{
			padding:15px;
			article{
				background: #eee;
				padding:15px;
				h1{
					padding: 15px 0 0 0;
					margin-top: 20px;
					padding: 0;
					margin-top: 20px;
					color: #6a6a6a;
				}
				h3{
					margin:0;
					color: #000;
				}
				span{
					display: block;
					color: #4a4a4a;
					margin: 5px 0 0 0;
				}
				
				button{
					width: 100%;
					color:#fff;
					span{
						color:#fff;
					}
				}
			}
			h5{
				margin:0;
				small{
					display:block;
					color:$cp-red-color;
				}
			}
			ol{
				margin:20px 0 20px 15px;
				padding:0;
			}
			.redemptionPoints{
				color:#000;
				font-size: 15px;
			}
			.redeemPoints{
				padding:10px ;
				//margin: 0 0 30px 0;
				background: #dcdcdc;
				p{
					margin:0;
				}
			}
		}
	}
	.fixedImage{
		max-height: 180px;
		img{
			width:100%;
			margin:0 !important;
			padding: 0 !important;
		}
	}

    .p0{
		padding:0 !important;
	}
	.pb15{
		padding-bottom: 15px !important;
    }
    
    .btn4{
		width: 80%;
		margin: 20px auto;
		display: block;
		text-transform: uppercase;
		font-size: 18px;
		border-radius: 0;
		background: rgb(198,87,114); 
	}
	.scroll-content{
		padding: 0 !important;
		background: #eeeeee;
	}

	.barCode {
		text-align: center;
		i {
			width: 150px;
			margin: 0 auto;
			display: block;
			img {
				width: 100%;
				max-width: 100%;
			}
			label {
				text-align: center;
				display: block;
			}
		}
		svg{
			width: 100% !important;
		}
	}

}
