page-new-account {
    .newAccountContainer {
        text-align: center;
        padding: 80px 0 0 0;
        .text-input{
            direction: rtl;
        }
        .text-input-md {
            text-align: right !important;
        }
        .logo {
            display: block;
            width: 100%;
            margin: 30px 0 0 0;
            img {
                width:50%;
            }
        }
        h6 {
            text-align: center;
            font-weight: normal;
        }
        h5 {
            text-align: center;
            color: $cp-primary-color;
            font-size: 17px;
            font-weight: normal;
            margin: 0 0 60px 0;
        }
        p {
            text-align: center;
            font-size: 13px;
            margin: 10px 0 30px 0;
        }
        .contentOut {
            background: url('../assets/img/hand_bg.png') no-repeat;
            background-position: center bottom;
            height: 300px;
            background-size: contain;
        }
        .container {
            padding: 15px;
            margin-top: 10px;
            .content {
                padding: 0;
                box-shadow: 0px 2px 10px $cp-extra-lighter-grey-xxxx;
                border-radius: 7px;
                .item-md,
                .item-ios {
                    padding-left: 0;
                    border-radius: 7px;
                }
                .list-md,
                .list-ios {
                    margin: 0;
                }
            }
        }
        input::-moz-placeholder {
            font-size: 14px;
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        input::-webkit-input-placeholder {
            font-size: 14px;
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        input:-ms-input-placeholder {
            font-size: 14px;
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        .item-input .label-md,
        .item-select .label-md,
        .item-datetime .label-md,
        .label-ios {
            color: $cp-extra-darker-grey;
            padding: 0 0 0 12px;
        }
        .caringWaterMark {
            margin: 20px 0 0 0;
        }
        ion-label[fixed] {
            width: 125px;
            min-width: 125px;
        }
        .list-ios>.item-block:first-child {
            border-top: none;
        }
        .profileOut {
            margin: 20px 0 0 0;
            i {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                display: block;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .subTitle1 {
            margin: 20px 0 10px 0;
            text-align: left;
        }
    }
    @media(max-width:480px){
    .scroll-content {
            bottom: 0px;
            margin-top: 0px !important;
            padding: 10px !important;
        }
        .newAccountContainer {
        text-align: center;
        padding: 60px 0 0 0 !important;
        .text-input-md {
            text-align: right !important;
        }
        .info {
            margin-top: 50px !important;
            font-size: 12px;
        }
    }
}
    @media(min-width:768px){
    .newAccountContainer{
       width:70%;
       margin: 30% auto;
    }
    .info{
        margin: 30px auto !important;
        width: 65%
    }
}
}