<ion-content>
	<div class="newAccountContainer">
		<i class="logo text-center">
			<img src="assets/img/caring_logo.png" />
		</i>
		<h6>Create New Account</h6>
		<!-- <div class="profileOut">
			<!-- <i (click)="uploadProfilePic()">
				<img *ngIf="!registerData.profilePic" src="assets/img/no_photo.jpg">
				<img *ngIf="registerData.profilePic" src="{{profileImage}}">
			</i> -->
			<!-- <p>Profile Photo</p>
		</div> -->
		<div class="contentOut">
			<div class="container">
				<div class="content">
					<ion-list>
						<ion-item>
							<ion-label fixed>Name</ion-label>
							<ion-input type="text" [(ngModel)]="registerData.fname" placeholder="Enter Name"></ion-input>
						</ion-item>
						<ion-item>
							<ion-label fixed>E-mail</ion-label>
							<ion-input *ngIf="!this._existingCustomerData?.customer[0]?.email" type="text" [(ngModel)]="registerData.email" placeholder="Enter E-mail"></ion-input>
							<ion-label *ngIf="this._existingCustomerData?.customer[0]?.email">{{registerData.email}}</ion-label>
						</ion-item>
						<ion-item>
							<ion-label fixed>Mobile Number</ion-label>
							<ion-input type="text" [(ngModel)]="registerData.mobile" readonly></ion-input>
						</ion-item>
						<ion-item>
							<ion-label fixed>OTP</ion-label>
							<ion-input type="text" [(ngModel)]="otp" placeholder="Enter OTP"></ion-input>
						</ion-item>
					</ion-list>
				</div>
				<p class="subTitle1">If you are already a regular member, please enter your account number below.</p>
				<div *ngIf="this._existingCustomerData?.customer[0]?.firstname" class="content">
					<ion-list>
						<ion-item>
							<ion-label fixed>Account Number</ion-label>
							<ion-input type="text" value="" placeholder="Enter Account Number" [(ngModel)]="registerData.externalId"></ion-input>
						</ion-item>
					</ion-list>
				</div>
				<div class="mt20">
					<button ion-button class="btn4" (click)="otpCheck()">Create Account</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>