page-otp {
    .mobLbl {
    color: #333;
    width: 100% !important;
    padding: 0;
    text-align:left;
}
.text-input-ios{
    text-align: right;
}
    .otpContainer {
        text-align: center;
        padding: 80px 0 0 0;
        .text-input-md {
            text-align: right !important;
        }
        .info {
            margin-top: 80px;
            font-size: 12px;
        }
        .logo {
            display: block;
            width: 100%;
            margin: 0px 0 0 0;
            img {
                width:50%;
            }
        }
        h6 {
            text-align: center;
            text-transform: uppercase;
        }
        p {
            text-align: center;
            font-size: 13px;
            margin: 10px 0 50px 0;
        }
        .content {
            padding: 0;
            margin: 10px 0 0 0;
            box-shadow: 0px 2px 10px $cp-extra-lighter-grey-xxxx;
            border-radius: 7px;
            ion-list {
                ion-item {
                    ion-label {
                        width: 130px;
                    }
                }
            }
            .item-md,
            .item-ios {
                padding-left: 0;
                border-radius: 7px 7px 0 0;
            }
            .list-md,
            .list-ios {
                margin: 0;
            }
        }
        input:-moz-placeholder {
            color: red;
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        input:-webkit-input-placeholder {
            color: red;
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        input:-ms-input-placeholder {
            color: red;
            text-align: right;
            color: $cp-extra-lighter-grey-xxx;
        }
        .item-input .label-md,
        .item-select .label-md,
        .item-datetime .label-md,
        .label-ios {
            color: $cp-extra-darker-grey;
            padding: 0 0 0 16px;
        }
        .caringWaterMark {
            margin: 20px 0 0 0;
        }
        .list-ios>.item-block:first-child {
            border-top: none;
        }
    }
    .label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input{
        text-align: right;
    }
    @media(max-width:480px){
    .scroll-content {
            bottom: 0px;
            margin-top: 0px !important;
            padding: 10px !important;
        }
        .otpContainer {
        text-align: center;
        padding: 60px 0 0 0 !important;
        .text-input-md {
            text-align: right !important;
        }
        .info {
            margin-top: 50px !important;
            font-size: 12px;
        }
    }
}
    @media(min-width:768px){
    .otpContainer{
       width:70%;
       margin: 30% auto;
    }
    .info{
        margin: 30px auto !important;
        width: 65%
    }
}
}