page-in-store {
    .inStoreContainer {
        .headerwithline {
            border-bottom: 1px solid #bdbdbd;
            display: inline-block;
            width: 100%;
            margin: 0 0 0 0;
        }
        h3 {
            margin: 5px 0 0 0;
            color: $cp-extra-darker-grey;
            font-weight: 600;
        }
        .btn {
            background: #F29827;
            padding: 0px 5px;
            margin: 0;
            font-size: 10px;
            border-radius: 0px;
            height: 21px;
            font-size: 18px;
        }
        .card-md {
            margin: 5px;
            border-radius: 5px;
            width: calc(100% - 15px);
            figure {
                margin: 0;
                height: 100px;
                overflow: hidden;
            }
            .card-content-md {
                padding: 10px;
                .card-title {
                    font-weight: 600;
                    margin: 0 0 5px 0;
                    line-height: normal;
                }
                p {
                    margin: 0 0 0 0;
                    line-height: normal;
                    color: $cp-extra-darker-grey;
                }
                .button-md {
                    background-color: $cp-primary-color;
                    height: auto;
                    margin: 0;
                    width: 100%;
                    font-size: 14px;
                    padding: 5px 0;
                    box-shadow: none;
                    text-transform: capitalize;
                    font-weight: normal;
                    border-radius: 5px;
                }
            }
        }
    }
    .pdadj{
        padding: 0 15px 0px 10px;
    }
    .figWidget {
        box-shadow: none;
        border-radius: 0;
        figure{
            height:100% !important;
            width:100% !important;
            overflow: hidden;
            margin: 0;
            img{
                width:100%;
            }
        }
        .card-title{
            font-size: 14px;
            text-align: left;
            font-family: 'franklingothicnewheavyregular';
            font-weight: bold;
            
        }
        p{
            font-family:'Myriad Pro';
            text-align: left;
            margin: 5px 0;
            font-size: 14px;
            height: 50px;
            overflow: hidden;
        }
        button{
            font-family: 'Axis';
            font-weight: bold !important;
            font-size: 14px !important;
            width: 80% !important;
            text-align: center !important;
            margin: 0 0 20px 0 !important;
            display: block !important;
            padding: 15px 0 !important;
            box-shadow: none !important;
        }
        // ion-card-content{
        //     p{
        //         font-family:'Myriad Pro';
        //         text-align: center;
        //         font-size: 16px;
        //     }
        // }
        // button{
        //     font-family: 'Axis';
        //     font-weight: bold !important;
        //     font-size: 18px !important;
        //     width: 80% !important;
        //     text-align: center !important;
        //     margin: 0 auto 20px auto !important;
        //     display: block !important;
        //     padding: 20px 0 !important;
        //     box-shadow: none !important;
        // }
    }
}