page-health-subscribe {

    ion-slides {
        display: block;
        width: 100%;
        height: 30%;
    }
    .healthSubscribeContainer {
        font-family: 'allerregular';
        text-align: center;
        h5 {
            text-align: center;
            color: #7a7a7a;;
            margin: 0 0 0px 0;
            font-size: 21px;
            font-family: 'allerbold';
        }
        .subTitle1 {
            font-size: 10px;
            color: $cp-extra-darker-grey;
            text-align: center;
            margin: 0px 0 15px 0;
        }
        .btn4 {
            padding: 10px;
            width: 80%;
            background: #00BB58;
            color: #fff;
            text-align: center;
            border-radius: 0px;
            margin-bottom: 15px;
            margin-top: 30px;
            font-family: 'Axis';
            font-weight: bold !important;
            font-size: 18px !important;
        }
    }
}