mymodal {
    .modalWidget {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0;
        display: block;
        .modalContent {
            position: relative;
            margin: auto;
            padding: 20px;
            width: 90%;
            top: 25%;
            border-radius: 8px;
            background: $cp-primary-color url('../assets/img/modal_bg.svg') no-repeat center top;
            h2 {
                text-align: center;
                font-size: 18px;
                margin: 0;
                text-transform: capitalize;
            }
            p {
                color: $cp-black-color;
                text-align: center;
                font-size: 16px;
            }
            button {
                width: 100%;
                background-color: $btn-default;
                height: 40px;
                line-height: 45px;
                font-size: 15px;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 3px;
                margin: 20px 0 0 0;
            }
            .cancelBtn {
                border: 1px solid $btn-default;
                color: #000;
                background-color: #fff;
            }
            .expiryDatesOut{
                .header{
                    border-bottom:1px solid #ccc;
                    padding: 0;
                    margin: 0 0 15px 0; 
                }
                h6{
                    color: #424242;
                    font-weight: 600;
                    text-align: center;
                    margin: 0;
                }
                p{
                    margin: 0;
                    font-size: 15px;
                    color: #1d1d1d;
                    text-align: center;
                }
            }
        }
        .modalContentExpiryDates {
            position: relative;
            margin: auto;
            padding: 20px 20px 110px 20px;
            width: 90%;
            top: 25%;
            border-radius: 8px;
            background: #f3f3f3 url(../assets/img/modal_bottom_pattern.png) no-repeat center bottom;
            background-size: contain;
            height: 300px;
            overflow-y: scroll;
            .expiryDatesOut{
                .header{
                    border-bottom:1px solid #ccc;
                    padding: 0;
                    margin: 0 0 15px 0; 
                }
                h6{
                    color: #424242;
                    font-weight: 600;
                    text-align: center;
                    margin: 0;
                }
                p{
                    margin: 0;
                    font-size: 15px;
                    color: #1d1d1d;
                    text-align: center;
                }
            }
        }
    }
}