mymodal {
    .modalWidget {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0;
        display: block;
        .modalContent {
            position: relative;
            margin: auto;
            padding: 20px;
            width: 90%;
            top: 35%;
            border-radius: 8px;
            background: $cp-primary-color url('../assets/img/modal_bg.svg') no-repeat center top;
            h2 {
                text-align: center;
                font-size: 18px;
                margin: 0;
                text-transform: capitalize;
            }
            p {
                color: $cp-black-color;
                text-align: center;
                font-size: 16px;
            }
            button {
                width: 100%;
                background-color: $btn-default;
                height: 40px;
                line-height: 45px;
                font-size: 15px;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-radius: 3px;
                margin: 20px 0 0 0;
            }
            .cancelBtn {
                border: 1px solid $btn-default;
                color: #000;
                background-color: #fff;
            }
        }
    }
}