<ion-menu [content]="content" id="leftMenu">
    <ion-header>
        <ion-toolbar color="menu-header">
            <div class="thumbnail">
                <!--<div class="img">
                    <img src="http://rootaccez.com/assets/team/ravi.jpg" alt="">
                </div>-->
                <span *ngIf="!_auth">Hello</span>
                <span *ngIf="_auth">Hello, {{userName }}</span>
            </div>

        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
              <ion-icon class="{{p.icon}}"></ion-icon> <span>{{p.title}}</span>
            </button>
        </ion-list>
        <ion-footer>
            <ion-toolbar color="menu-footer">
                <button color="menu-footer" *ngIf="_auth" menuClose ion-item (click)="logout()"><ion-icon class="iconc-log-out"></ion-icon> <span>Logout</span> </button>
                <button *ngIf="!_auth" color="menu-footer" menuClose ion-item (click)="gotoLogin()"><ion-icon class="iconc-log-in"></ion-icon> <span>Login</span></button>
            </ion-toolbar>
        </ion-footer>
    </ion-content>

</ion-menu>

<!--Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>