<style>
    .item-md-menu-footer {
        position: relative !important;
        top: -10px !important;
    }
</style>


<ion-menu [content]="content" id="leftMenu">
    <ion-header>
        <ion-toolbar color="menu-header">
            <div class="thumbnail">
                <span *ngIf="!_auth">Log in/ Guest</span>
                <span *ngIf="_auth">Hello, {{_userName }}</span>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon class="{{p.icon}}"></ion-icon> <span>{{p.title}}</span>
            </button>
             <button menuClose ion-item  (click)="openSettings()">
                <ion-icon name="ios-settings-outline"></ion-icon> <span>Settings</span>
            </button>
        </ion-list>
        <!-- <ion-footer class="footer">
            <ion-toolbar color="menu-footer">
                <button color="menu-footer" *ngIf="_auth" menuClose ion-item (click)="logout()">
                    <ion-icon class="iconc-log-out"></ion-icon> <span>Logout</span> </button>
                <button *ngIf="!_auth" color="menu-footer" menuClose ion-item (click)="gotoLogin()">
                    <ion-icon class="iconc-log-in"></ion-icon> <span>Login</span></button>
            </ion-toolbar>
        </ion-footer> -->
    </ion-content>

</ion-menu>

<!--Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


<mymodal #nointernet>
    <p>No Internet Connection Detected</p>
    <ion-grid>
        <p>We cannot detect any Internet Connection, please connect to Internet and continue </p>
        <ion-row>
            <ion-col col-12>
                <button ion-button class="btn4" (click)="closeNoInternetModal()">OK</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</mymodal>

<mymodal #login>
    <p>Please Login/Register to continue</p>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button class="btn2 cancelBtn" (click)="closeLoginModal()">Cancel</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button class="btn2" (click)="gotoLogin('LoginPage')">Login/Register</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</mymodal>