/*============== Color Theme =================*/

@import "../assets/css/custom-icons.css";
@import "../assets/css/fonts.css";
$cp-primary-color:#f3f3f3; //007066
$cp-darker-primary-color:#224946;
$cp-btn-green:#92cb5d;
$btn-default:#096F67;
$cp-medium-green-color:#16AB9E;
$cp-white-color:rgba(0, 0, 0, 0.50);
$cp-black-color:#000;
$cp-lighter-grey:#f1f1f1;
$cp-extra-lighter-grey:#f5f5f5;
$cp-extra-lighter-grey-x:#bbb;
$cp-extra-lighter-grey-xx:#ebebeb;
$cp-extra-lighter-grey-xxx:#9b9b9b;
$cp-extra-lighter-grey-xxxx:#c7c7c7;
$cp-extra-lighter-grey-xxxxx:#c4c4c4;
$cp-extra-lighter-grey-xxxxxx:#999;
$cp-extra-lighter-grey-xxxxxxx:#d4d4d4;
$cp-double-extra-lighter-grey-x:#bfbfbf;
$cp-double-extra-lighter-grey-xx:#dcdcdc;
$cp-extra-darker-grey:#4a4a4a;
$cp-extra-darker-grey-x:#434343;
$cp-extra-darker-grey-x:#626262;
$cp-red-color:#e7162f;
$bt-maroon-color:#d0021b;
$cp-medium-green-color-x:#7ed321;
$cp-medium-blue-color-x:#3a7dcc;

/*============== Gloabal Font =================*/

// @font-face {
//     font-family: 'Roboto';
//     src: url('../fonts/Roboto-Regular.eot');
//     src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FranklinGothic-Heavy';
//     src: url('../assets/fonts/FranklinGothic-Heavy.eot') format('embedded-opentype');
//     font-weight: normal;
//     font-style: normal;
//   }
ion-app.ios {
    font-family: 'allerbold';
}

ion-footer {
    border-top: 1px solid #e0e0e0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'allerregular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'allerbold';
    color: rgba(0, 0, 0, 0.6);
}

h6 {
    font-size: 14px;
}

h5 {
    font-size: 16px;
}

h4 {
    font-size: 18px;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 22px;
}

h1 {
    font-size: 24px;
}

#leftMenu {
    .scroll-content {
        bottom: 0px;
    }
}

.scroll-content {
    bottom: 0px;
    margin-top: 45px;
}

.mainCont {
    //margin-top: 20px;
}

.mainCont.content-ios {
    margin-top: 60px !important;
    .scroll-content {
        margin-top: 0px;
        bottom: 60px;
    }
}

.item-radio-checked.item-md ion-label {
    color:$cp-black-color;
}
.radio-md .radio-checked{
    border-color: $btn-default;
}
.radio-md .radio-inner{
    background-color: $btn-default;
}
.alert-md [aria-checked=true] .alert-radio-icon{
     border-color: $btn-default;
}
.alert-md .alert-radio-inner{
    background-color: $btn-default;
}
.alert-md [aria-checked=true] .alert-radio-label{
    color:$btn-default;
}
.alert-md .alert-button{
    color:$btn-default;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: $cp-black-color;
}
.label-md[stacked] {
    font-size: 1.5rem;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: #e4e4e4;
    box-shadow: inset 0 1px 0 0 #e4e4e4;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #e4e4e4;
}
.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected{
     color:$btn-default;
}
.picker-md .picker-button, .picker-md .picker-button.activated{
     color:$btn-default;
}



/*
============== Custom Ionic Style =================*/

ion-navbar.toolbar {
    border-bottom: 1px solid #ccc;
}

.fixed-content {
    background: $cp-extra-lighter-grey;
}

.header-md::after {
    background-image: none;
    height: 0;
}

.errorInfo {
    color: $bt-maroon-color;
}

ion-footer {
    box-shadow: 0px -2px 15px #bfbfbf;
    .toolbar-background-md,
    .toolbar-background-ios {
        border-color: $cp-lighter-grey;
        background: $cp-lighter-grey;
    }
    .button-md {
        background-color: transparent;
        height: auto;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .button-ios {
        background-color: transparent;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .button-md.activated,
    .button-ios.activated {
        background-color: transparent;
        box-shadow: none;
    }
}

.button-md.activated,
.button-ios.activated {
    background-color: $cp-primary-color;
    box-shadow: none;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: $cp-white-color;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: $cp-white-color;
    background-color: transparent;
}

.toolbar-ios ion-title {
    padding: 0;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent;
    box-shadow: inset 0 -1px 0 0 transparent;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: $cp-extra-lighter-grey-xxxx;
    box-shadow: inset 0 0px 0 0 $cp-extra-lighter-grey-xxxx;
    ;
}

.toolbar-title-md,
.toolbar-title-ios {
    color: $cp-white-color;
}

.swiper-slide img {
    padding: 0 10px 10px 10px;
}


/*
============== General Style =================*/

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.alert {
    color: $cp-red-color !important;
}

.primary {
    color: $cp-primary-color;
}

.mt30 {
    margin-top: 30px;
}
.mt70 {
    margin-top: 70px;
}
.mt20 {
    margin-top: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.clear {
    clear: both;
}

.btn2 {
    background-color: $btn-default;
    height: auto;
    padding: 10px 5px;
    margin: 0;
    text-transform: capitalize;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    box-shadow: none;
    border-radius: 5px;
}

.btn2.wp {
    white-space: pre-wrap;
}

.btn3 {
    background-color: $btn-default;
    height: auto;
    margin: 0;
    width: 100%;
    font-size: 14px;
    padding: 5px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: normal;
    border-radius: 5px;
    &:active,
    &:visited,
    &:focus {
        background-color: $btn-default;
        outline: none;
    }
}

.btn4 {
    background-color: $btn-default;
    height: auto;
    margin: 0;
    width: 100%;
    font-size: 14px;
    padding: 17px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: normal;
    border-radius: 5px;
    &:active,
    &:visited,
    &:focus,
    &:link {
        background-color: $btn-default;
        outline: none;
    }
}

.btn4.borderBottomRadius {
    border-radius: 0 0 7px 7px;
}

.loading-md .loading-wrapper {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ion-spinner {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.loading-md .spinner-circles circle {
    fill: $cp-darker-primary-color;
}

#leftMenu {
    font-family: 'allerregular';
    ion-header {
        ion-toolbar {
            padding: 14px 16px 14px 16px;
        }
    }
    ion-header.header-ios {
        ion-toolbar {
            padding: 22px 16px 10px 16px;
        }
    }
    button {
        ion-icon {
            width: 56px;
            color: rgba(0, 0, 0, 0.54);
            font-size: 24px;
        }
        span {
            color: rgba(0, 0, 0, 0.84);
            top: -3px;
            position: relative;
        }
    }
    ion-content {
        ion-footer {
            height: 40px;
            min-height: 40px;
            button {
                .item-inner {
                    border: none !important;
                }
                ion-icon {
                    color: #fff;
                }
                span {
                    color: #fff;
                }
            }
            // ion-toolbar.toolbar-md {
            //     height: 40px;
            //     min-height: 40px;
            // }
            // ion-toolbar.toolbar-ios {
            //     min-height: 40px;
            //     height: 40px;
            // }
        }
    }
}

.list-md {
    .item-md {
        background: #f5f5f5;
    }
    .item-block {
        .item-inner {
            border-bottom: none !important;
        }
    }
}

.thumbnail {
    .img {
        height: 60px;
        width: 60px;
        overflow: hidden;
        border-radius: 50%;
        float: left;
        img {
            width: 100%;
        }
    }
    span {
        float: left;
        font-size: 14px;
        color: #fff;
        margin-top: 2px;
        margin-left: 10px;
    }
    // $cordovaStatusbar.styleColor('black'); $cordovaStatusbar.styleHex('#000');
}

// .list-ios .item-block .item-inner {
//     border-bottom: 0px solid #c8c7cc;
// }