/*============== Color Theme =================*/

@import "../assets/css/custom-icons.css";
$cp-primary-color:#f3f3f3; //007066
$cp-darker-primary-color:#224946;
$btn-default:#096F67;
$cp-medium-green-color:#16AB9E;
$cp-white-color:rgba(0, 0, 0, 0.50);
$cp-black-color:#000;
$cp-lighter-grey:#f1f1f1;
$cp-extra-lighter-grey:#f5f5f5;
$cp-extra-lighter-grey-x:#bbb;
$cp-extra-lighter-grey-xx:#ebebeb;
$cp-extra-lighter-grey-xxx:#9b9b9b;
$cp-extra-lighter-grey-xxxx:#c7c7c7;
$cp-extra-lighter-grey-xxxxx:#c4c4c4;
$cp-extra-lighter-grey-xxxxxx:#999;
$cp-extra-lighter-grey-xxxxxxx:#d4d4d4;
$cp-double-extra-lighter-grey-x:#bfbfbf;
$cp-double-extra-lighter-grey-xx:#dcdcdc;
$cp-extra-darker-grey:#4a4a4a;
$cp-extra-darker-grey-x:#434343;
$cp-extra-darker-grey-x:#626262;
$cp-red-color:#e7162f;
$bt-maroon-color:#d0021b;
$cp-medium-green-color-x:#7ed321;
$cp-medium-blue-color-x:#3a7dcc;

/*============== Gloabal Font =================*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*
============== Custom Ionic Style =================*/

.fixed-content {
    background: $cp-extra-lighter-grey;
}

.header-md::after {
    background-image: none;
    height: 0;
}

.errorInfo {
    color: $bt-maroon-color;
}

ion-header {
    /*.toolbar-content-md{
		flex: none;
		width: 100%;
	}*/
    .toolbar-background-md {
        border-color: $cp-primary-color;
        background: $cp-primary-color;
    }
    .toolbar-background-ios {
        background: $cp-primary-color;
    }
}

ion-footer {
    box-shadow: 0px -2px 15px #bfbfbf;
    .toolbar-background-md,
    .toolbar-background-ios {
        border-color: $cp-lighter-grey;
        background: $cp-lighter-grey;
    }
    .button-md {
        background-color: transparent;
        height: auto;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .button-ios {
        background-color: transparent;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .button-md.activated,
    .button-ios.activated {
        background-color: transparent;
        box-shadow: none;
    }
}

.button-md.activated,
.button-ios.activated {
    background-color: $cp-primary-color;
    box-shadow: none;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: $cp-white-color;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: $cp-white-color;
    background-color: transparent;
}

.toolbar-ios ion-title {
    padding: 0;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent;
    box-shadow: inset 0 -1px 0 0 transparent;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: $cp-extra-lighter-grey-xxxx;
    box-shadow: inset 0 0px 0 0 $cp-extra-lighter-grey-xxxx;
    ;
}

.toolbar-title-md,
.toolbar-title-ios {
    color: $cp-white-color;
}

.swiper-slide img {
    padding: 0 10px 10px 10px;
}


/*
============== General Style =================*/

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.alert {
    color: $cp-red-color !important;
}

.primary {
    color: $cp-primary-color;
}

.mt30 {
    margin-top: 30px;
}

.mt20 {
    margin-top: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.clear {
    clear: both;
}

.customHeader {
    .logo {
        margin: 0px 0 0 0;
    }
    .notification {
        position: relative;
        margin: 7px 0 0 0;
        // .count {
        //     position: absolute;
        //     padding: 2px 6px;
        //     background: $cp-white-color;
        //     color: $cp-primary-color;
        //     top: -17px;
        //     right: 0px;
        //     font-style: normal;
        //     border-radius: 50%;
        //     width: 20px;
        //     height: 20px;
        //     font-size: 12px;
        // }
        span {
            font-size: 20px;
        }
    }
}

.btn2 {
    background-color: $cp-primary-color;
    height: auto;
    padding: 10px 5px;
    margin: 0;
    text-transform: capitalize;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    box-shadow: none;
    border-radius: 5px;
}

.btn2.wp {
    white-space: pre-wrap;
}

.btn3 {
    background-color: $btn-default;
    height: auto;
    margin: 0;
    width: 100%;
    font-size: 14px;
    padding: 5px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: normal;
    border-radius: 5px;
    &:active,
    &:visited,
    &:focus {
        background-color: $btn-default;
        outline: none;
    }
}

.btn4 {
    background-color: $btn-default;
    height: auto;
    margin: 0;
    width: 100%;
    font-size: 14px;
    padding: 17px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: normal;
    border-radius: 5px;
    &:active,
    &:visited,
    &:focus,
    &:link {
        background-color: $btn-default;
        outline: none;
    }
}

.btn4.borderBottomRadius {
    border-radius: 0 0 7px 7px;
}

.loading-md .loading-wrapper {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ion-spinner {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.loading-md .spinner-circles circle {
    fill: $cp-primary-color;
}

#leftMenu {
    ion-header {
        ion-toolbar {
            padding: 14px 16px 14px 16px;
        }
    }
    ion-header.header-ios {
        ion-toolbar {
            padding: 22px 16px 10px 16px;
        }
    }
    button {
        ion-icon {
            width: 56px;
            color: rgba(0, 0, 0, 0.54);
            font-size: 24px;
        }
        span {
            color: rgba(0, 0, 0, 0.84);
            top: -3px;
            position: relative;
        }
    }
    ion-content {
        ion-footer {
            height: 40px;
            min-height: 40px;
            button {
                .item-inner {
                    border: none !important;
                }
                ion-icon {
                    color: #fff;
                }
                span {
                    color: #fff;
                }
            }
            ion-toolbar.toolbar-md {
                height: 40px;
                min-height: 40px;
            }
            ion-toolbar.toolbar-ios {
                min-height: 40px;
                height: 40px;
            }
        }
    }
}

.list-md {
    .item-md {
        background: #f5f5f5;
    }
    .item-block {
        .item-inner {
            border-bottom: none !important;
        }
    }
}

.thumbnail {
    .img {
        height: 60px;
        width: 60px;
        overflow: hidden;
        border-radius: 50%;
        float: left;
        img {
            width: 100%;
        }
    }
    span {
        float: left;
        font-size: 14px;
        color: #fff;
        margin-top: 2px;
        margin-left: 10px;
    }
}

// .list-ios .item-block .item-inner {
//     border-bottom: 0px solid #c8c7cc;
// }