page-promotion-details {
	.promotionDetails{
		figure{
			margin:0;
			max-height: 200px;
    		overflow: hidden;
    		img{
    			width:100%;
    		}
		}
		.content{
			padding:15px;
			.grid, [col-6]{
				padding:0;
			}
			h4{
				margin:10px 0;
				color:$cp-black-color;
			}
			p{
				margin:0 0 10px 0;
				color:$cp-extra-darker-grey	
			}
			ol{
				margin:0 0 0 12px;
				padding:0;	
				li{
					color:$cp-extra-darker-grey		
				}
			}

		}
	}
}
