<!-- Generated template for the HeaderComponent component -->
<ion-header class="customTopHeader">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <div class="topHeader">
            <div class="logo">
                <img src="assets/img/caring_logo.png" />
            </div>

            <!-- <ion-icon (click)="goTo('MessagesPage')">
                <span class="iconc-chat"></span>
            </ion-icon> -->
        </div>
    </ion-navbar>
</ion-header>