<!-- Generated template for the HeaderComponent component -->
<ion-header class="customTopHeader">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <div class="topHeader">
            <div class="logo">
                <img src="assets/img/caring_logo.svg" />
            </div>

             <ion-icon (click)="goTo('MessagesPage')">
                <ion-icon name="notifications"></ion-icon>
            </ion-icon> 
        </div>
    </ion-navbar>
</ion-header>