header {
    .customTopHeader {
        height: 60px;
        background: $cp-primary-color;
    }
    .toolbar-md {
        padding: 0px;
    }
    .toolbar-ios {
        padding: 10px 0 0 0;
        min-height: 60px;
        border-bottom: none !important;
    }
    .header-ios {
        height: 60px;
    }
    .topHeader {
        position: relative;
        text-align: center;
        .logo {
            margin: 5px 55px 0 0;
            padding: 0;
            width: 40%;
            max-width: 100%;
        }
        ion-icon {
            position: absolute;
            top: 8px;
            font-size: 22px;
            color: rgba(0, 0, 0, 0.6);
            right: 16px;
        }
    }
}