<div>
    <header></header>
</div>

<ion-content class="mainCont">
    <div class="happeningsContainer">
        <ion-grid>
            <article class="">
                    <ion-row class="headerwithline">
                        <ion-col col-5>
                            <h3 >Happenings</h3>
                        </ion-col>
                        <ion-col col-7>
                            <a tappable (click)="goto('InStorePage')"><img src="assets/img/in_store_act.png" alt=""></a>
                        </ion-col>
                    </ion-row>
                </article>
        <div *ngFor="let happen of happenList | chunk:2">
            <ion-row class="mt10">
                <ion-col col-sm-6 col-xs-6 *ngFor="let hpn of happen" tappable (click)="gotoHappenDetail(hpn)">
                    <ion-card class="figWidget" *ngIf="hpn">
                        <figure>
                            <img src="{{hpn?.eventbanner}}" />
                        </figure>
                        <ion-card-content>
                            <div class="card-title">{{hpn?.title}}</div>
                            <p>{{hpn?.eventdatestring}}</p>
                            <button ion-button class="btn3">{{hpn?.buttonname}}</button>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <page-tabs></page-tabs>
    </ion-toolbar>
</ion-footer>