page-happenings {
    .happeningsContainer {
        margin: 10px 0 0 0;
        h3 {
            margin: 0px 0 0 0;
            color: $cp-extra-darker-grey;
            font-size: 16px;
        }
        .btn3 {
            background: #268255 !important;
            border-radius: 0px;
        }
        .button-ios {
            border-radius: 0px;
        }
        .headerwithline {
            border-bottom: 1px solid #bdbdbd;
            width: 100%;
            .headerBtns{
                margin: 0;
                padding: 0;
                width: 100%;
                li{
                    width: 50%;
                    float: left;
                    list-style: none;
                    a{
                        display: block;
                        text-align: center;
                        padding: 10px;
                    }
                    .servicesBtn{
                        background: #3ab54a;
                        color: #fff;
                    }
                    .inStoreBtn{
                        background: #068052;
                        color: #fff;
                    }
                    .titlebreak{
                        display: block;
                    }
                }
            }
                
            .subTitle{
                color: #808080;
                line-height: 50px;
            }
            h3 {
                color: #808080;
                line-height: 50px;
            }
            a {
                padding: 0;
                margin: 0;
                img {
                    width: 100%;
                }
            }
        }
        .card-md,
        .card-ios {
            margin: 5px;
            border-radius: 5px;
            width: calc(100% - 15px);
            height: 260px;
            figure {
                margin: 0;
                height: 130px;
                overflow: hidden;
            }
            .card-content-md,
            .card-content-ios {
                padding: 10px;
                .card-title {
                    margin: 0 0 5px 0;
                    line-height: normal;
                }
                p {
                    margin: 0 0 8px 0;
                    line-height: normal;
                    color: $cp-extra-darker-grey;
                }
                .button-md,
                .button-ios {
                    background-color: $cp-primary-color;
                    height: auto;
                    margin: 0;
                    width: 100%;
                    font-size: 12px;
                    padding: 5px 0;
                    box-shadow: none;
                    text-transform: capitalize;
                }
            }
        }
        .segmentOut{
            padding: 10px;
            .list-md, .list-ios{
                padding:10px 0;
            }

            .segment-md, .segment-ios{
                .segment-button.activated, .segment-button.segment-activated, .segment-button.segment-activated{
                    background: #fff;
                    color: #666;
                }
            } 
            

            .segment-md, .segment-ios {
                .segment-button{
                    border-bottom-color:transparent;
                    border-color:transparent;
                    text-transform: capitalize;
                    line-height: 1.5rem;
                    font-size: 14px;
                    height: 4.2rem;
                    padding: 5px 0 0 0;
                    span{
                        display: block;
                    }
                    .happSeg{
                        padding: 7px 0 0 0;
                    }
                }
            }
            .segment-md, .segment-ios{
                .segment-button{
                    color: #666;
                    opacity: 1;
                    background: #068052;
                    color: #fff;
                }
            } 
        }

    }
    .pdadj {
        padding: 0 15px 0px 10px;
    }
    .figWidget {
        box-shadow: none;
        border-radius: 0;
        
        .card-title {
            text-align: center;
        }
        ion-card-content {
            p {
                text-align: center;
                font-size: 11px;
            }
        }
        button {
            font-size: 18px !important;
            width: 80% !important;
            text-align: center !important;
            margin: auto !important;
            display: block !important;
            padding: 10px 0 !important;
        }
    }

    [col-sm-6] {
        padding: 0px;
    }
}
@media (max-width: 480px){
    .happeningsContainer {
        .figWidget{
            .card-title{
                font-size: 13px;
            }
            button{
                width: 80% !important;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 15px;
                font-size:13px !important;
            }
        } 
    }
}
.inStoreContainer {
    .headerwithline {
        border-bottom: 1px solid #bdbdbd;
        display: inline-block;
        width: 100%;
        margin: 0 0 0 0;
    }
    h3 {
        margin: 5px 0 0 0;
        color: $cp-extra-darker-grey;
    }
    .btn {
        background: #F29827;
        padding: 0px 5px;
        margin: 0;
        font-size: 10px;
        border-radius: 0px;
        height: 21px;
        font-size: 18px;
        position: absolute;
        bottom: 0;
    }
    .card-md {
        margin: 5px;
        border-radius: 5px;
        width: calc(100% - 15px);
        figure {
            margin: 0;
            height: 100px;
            overflow: hidden;
        }
        .card-content-md {
            padding: 10px;
            .card-title {
                margin: 0 0 5px 0;
                line-height: normal;
            }
            p {
                margin: 0 0 0 0;
                line-height: normal;
                color: $cp-extra-darker-grey;
            }
            .button-md {
                background-color: $cp-primary-color;
                height: auto;
                margin: 0;
                width: 100%;
                font-size: 14px;
                padding: 5px 0;
                box-shadow: none;
                text-transform: capitalize;
                border-radius: 5px;
            }
        }
    }

    .figWidget {
        box-shadow: none;
        border-radius: 0;
        figure{
            height:100% !important;
            width:100% !important;
            overflow: hidden;
            margin: 0;
            img{
                width:100%;
            }
        }
        .card-title{
            font-size: 14px;
            text-align: left;
            font-weight: 600;
            
            /* Fallback for non-webkit */
            display: -webkit-box;
            /* Fallback for non-webkit */
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            // text-align: left;
            // margin: 5px 0;
            // font-size: 14px;
            // height: 50px;
            // overflow: hidden;

            /* Fallback for non-webkit */
            display: -webkit-box;
            /* Fallback for non-webkit */
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        button{
            font-size: 14px !important;
            width: 80% !important;
            text-align: center !important;
            margin: 0 0 0 0 !important;
            display: block !important;
            padding: 15px 0 !important;
            box-shadow: none !important;
        }
    }
}
