page-happenings {
    .happeningsContainer {
        margin: 0;
        h3 {
            margin: 0px 0 0 0;
            color: $cp-extra-darker-grey;
            font-weight: 600;
            font-size: 16px;
        }
        .btn3 {
            background: #268255 !important;
            border-radius: 0px;
        }
        .button-ios {
            border-radius: 0px;
        }
        .headerwithline {
            border-bottom: 1px solid #bdbdbd;
            width: 100%;
            h3 {
                color: #808080;
                font-family: 'allerbold';
                line-height: 70px;
            }
            a {
                padding: 0;
                margin: 0;
                img {
                    width: 100%;
                }
            }
        }
        .card-md,
        .card-ios {
            margin: 5px;
            border-radius: 5px;
            width: calc(100% - 15px);
            height: 240px;
            figure {
                margin: 0;
                height: 130px;
                overflow: hidden;
            }
            .card-content-md,
            .card-content-ios {
                padding: 10px;
                .card-title {
                    font-weight: 600;
                    margin: 0 0 5px 0;
                    line-height: normal;
                }
                p {
                    margin: 0 0 8px 0;
                    line-height: normal;
                    color: $cp-extra-darker-grey;
                }
                .button-md,
                .button-ios {
                    background-color: $cp-primary-color;
                    height: auto;
                    margin: 0;
                    width: 100%;
                    font-size: 12px;
                    padding: 5px 0;
                    box-shadow: none;
                    text-transform: capitalize;
                    font-weight: normal;
                }
            }
        }

    }
    .pdadj {
        padding: 0 15px 0px 10px;
    }
    .figWidget {
        box-shadow: none;
        border-radius: 0;
        figure {
            height: 255px !important;
            width: 100% !important;
            overflow: hidden;
        }
        .card-title {
            text-align: center;
            font-family: 'franklingothicnewheavyregular';
            font-weight: bold;
        }
        ion-card-content {
            p {
                font-family: 'Myriad Pro';
                text-align: center;
                font-size: 11px;
            }
        }
        button {
            font-family: 'Axis';
            font-weight: bold !important;
            font-size: 18px !important;
            width: 80% !important;
            text-align: center !important;
            margin: auto !important;
            display: block !important;
            padding: 10px 0 !important;
        }
    }

    [col-sm-6] {
    padding: 0px;
}
}
@media (max-width: 480px){
    .happeningsContainer {
        .figWidget{
            figure{
                height: 130px !important;
            }
            .card-title{
                font-size: 13px;
            }
            button{
                width: 80% !important;
                font-weight: normal !important;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 15px;
                font-size:13px !important;
            }
        } 
    }
}
 @media(min-width:768px){
        .happeningsContainer{
            margin: 60px 0 0 0 !important;
        }
    }