page-happenings {
    .happeningsContainer {
        margin: -10px 0 0 0;
        h3 {
            margin: 0px 0 0 0;
            color: $cp-extra-darker-grey;
            font-weight: 600;
            font-size: 16px;
        }
        .btn3 {
            background: #268255 !important;
            border-radius: 0px;
        }
        .button-ios {
            border-radius: 0px;
        }
        .headerwithline {
            border-bottom: 1px solid #bdbdbd;
            display: inline-block;
            width: 100%;
            label {
                float: left;
                color: #808080;
                font-family: 'allerbold';
                line-height: 60px;
            }
            a {
                float: right;
                width: 180px;
                padding: 0;
                margin: 0;
                img {
                    width: 100%;
                }
            }
        }
        .card-md,
        .card-ios {
            margin: 5px;
            border-radius: 5px;
            width: calc(100% - 15px);
            figure {
                margin: 0;
                height: 100px;
                overflow: hidden;
            }
            .card-content-md,
            .card-content-ios {
                padding: 10px;
                .card-title {
                    font-weight: 600;
                    margin: 0 0 5px 0;
                    line-height: normal;
                }
                p {
                    margin: 0 0 8px 0;
                    line-height: normal;
                    color: $cp-extra-darker-grey;
                }
                .button-md,
                .button-ios {
                    background-color: $cp-primary-color;
                    height: auto;
                    margin: 0;
                    width: 100%;
                    font-size: 12px;
                    padding: 5px 0;
                    box-shadow: none;
                    text-transform: capitalize;
                    font-weight: normal;
                }
            }
        }
    }
    .pdadj {
        padding: 0 15px 0px 10px;
    }
    .figWidget {
        box-shadow: none;
        border-radius: 0;
        figure {
            height: 255px !important;
            width: 100% !important;
            overflow: hidden;
        }
        .card-title {
            font-size: 30px;
            text-align: center;
            font-family: 'franklingothicnewheavyregular';
            font-weight: bold;
        }
        ion-card-content {
            p {
                font-family: 'Myriad Pro';
                text-align: center;
                font-size: 16px;
            }
        }
        button {
            font-family: 'Axis';
            font-weight: bold !important;
            font-size: 18px !important;
            width: 80% !important;
            text-align: center !important;
            margin: auto !important;
            display: block !important;
            padding: 10px 0 !important;
        }
    }
}