page-rewards-details {
	.rewardsDetailsContainer{
		background: #fff;
		figure{
			margin:0;
			max-height: 150px;
			overflow: hidden;
			
		}
		.content{
			padding:15px;
			article{
				background: #eee;
				padding: 0px 15px 0px 15px;
				h1{
					padding: 15px 0 0 0;
					margin-top: 20px;
				}
			}
			h5{
				margin:0;
				small{
					display:block;
					color:$cp-red-color;
					font-weight: normal;
				}
			}
			ol{
				margin:20px 0 20px 15px;
				padding:0;
			}
			.redemptionPoints{
				color:#000;
				font-weight:bold;
				font-size: 15px;
			}
			.redeemPoints{
				padding:10px ;
				//margin: 0 0 30px 0;
				background: #dcdcdc;
				p{
					margin:0;
				}
			}
		}
	}
	.fixedImage{
		max-height: 180px;
	}
	.fixedImage img{
		width:95%;
		display: block;
		margin:auto;
		padding: 20px;
	}
	.p0{
		padding:0 !important;
	}
	.pb15{
		padding-bottom: 15px !important;
	}
	.btn4{
		width: 80%;
		margin: 20px auto;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		border-radius: 0;
		background: rgb(198,87,114); 
	}
	.newbtn{
		border: 1px solid #096F67;
		color: #000;
		background-color:#fff !important;
	
	}
	  @media(min-width:768px){
        .rewardsDetailsContainer{
                margin: 75px 0 0 0;
		}
	 .rewardsDetailsContainer figure{
		 max-height: 100% !important;
	 }
	  }
}
