<div>
    <header></header>
</div>


<ion-content class="mainCont">
    <div class="rewardsDetailsContainer">
        <figure class="fixedImage">
            <img src="{{offerdata?.MasterCreativePath}}" />

        </figure>
        <div class="content p0">
            <article>
                <h1>Terms and Conditions</h1>
                <p [innerHTML]="offerdata?.Description"></p>
                <hr/>
                <p class="text-center redemptionPoints">Redemption Points : {{offerdata?.BrandPointRedeemValue}}</p>
                <div class="redeemPoints">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-9>
                                <p>Current Points :</p>
                            </ion-col>
                            <ion-col col-3 class="text-right">
                                <p>{{_currentPoint}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="offerdata?.BrandPointRedeemValue < _currentPoint">
                            <ion-col col-10>
                                <p class="alert">Point Balance after Redemption :</p>
                            </ion-col>
                            <ion-col col-2 class="text-right">
                                <p class="alert" *ngIf="remainder >= 0">{{remainder}}</p>
                                <p class="alert" *ngIf="remainder < 0">0</p>
                            </ion-col>
                        </ion-row>
                         <ion-row *ngIf="offerdata?.BrandPointRedeemValue > _currentPoint">
                            <ion-col col-12>
                                <p class="alert">Insufficient to redeem</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <div class="pb15"></div>
            </article>
            <button ion-button class="btn4" (click)="navToPurchaseRewards()" [disabled]="!flag">redeem Now</button>
        </div>
    </div>
</ion-content>


        <page-tabs></page-tabs>




<!-- Modal to be displayed when the user wants to redeem the offer. It's a Confirmation Alert. -->
<mymodal #redeemPointsWarning title="Confirm Points Redemption">
    <div>
        <p>Do you want to Redeem {{offerdata?.Title}}?</p>
    </div>
    <div>
        <p style="color:red;font-size:12px;">This voucher will expire after 14 days</p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button (click)="closeRedeemPointsModal()" class="newbtn">Cancel</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button (click)="confirmRedeemVoucher()">Ok</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</mymodal>