page-homepage {
    a{
        text-decoration: none;
    }
    ion-slides {
        display: block;
        width: 100%;
        height: 45%;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        left: 0;
        bottom: -2px;
        width: 100%;
        z-index: 999999;
    }
    .swiper-pagination-bullet-active {
        background: #666;
        height: 10px;
        width: 10px;
    }
    ion-card {
        width: 100%;
        height: 100%;
        img {
            height: 80%;
        }
    }
    ion-col {
        padding: 10px;
    }
    .homeContainer {
        margin: 0px 0 0 0;
        padding: 0px 0 0 0;
        [col-6] {
            padding: 2px;
            padding-bottom: 0;
            margin: 0 0 -3px 0;
        }
        .card-md,
        .card-ios {
            background: $cp-medium-green-color;
            height: 90px;
            padding: 10px;
            width: calc(100% - 10px);
            margin: 5px;
            box-shadow: none;
            img {
                height: 40px;
                width: 40px;
                margin: 0 auto;
            }
            .card-title {
                text-align: center;
                color: $cp-white-color;
                padding: 5px 0 0 0;
                font-size: 16px;
            }
        }
    }
    .homePage .fixed-content{
        background: #fff;
    }
}