<div>
    <header></header>
</div>

<ion-content class="mainCont">
    <div class="healthDetailsContainer">
        <figure *ngIf="healthData?.bannerimage">
            <img  src="{{healthData?.bannerimage}}" (click)="zoomArea(healthData?.bannerimage)">
        </figure>
        <div class="content">
            <h4>{{healthData?.title}}
                <!-- <span>{{healthData?.subtitle}}</span> -->
            </h4>
            <div class="infodate">
                <label *ngIf='healthData?.authorinfo'><i>By</i> {{healthData?.authorinfo}}</label> <span>{{healthData?.displaydate | date:'EEEE dd MMM yyyy hh:mm a'}}</span>
            </div>
            <div [innerHTML]="healthData?.detaileddescription | safehtml"></div>
        </div>
    </div>
    <!-- <button ion-button block color="dark" margin-bottom padding (click)=shareViaSocialMedia()>Share Detail</button> -->
    <!-- <button ion-button value="redeem" class="shareBtn" (click)="shareViaSocialMedia()">SHARE DETAILS</button> -->
    <!-- <ion-icon name="logo-facebook" (click)="shareViaFacebook()"></ion-icon> -->
    <ul>
        <li (click)="shareViaFacebook()"> <ion-icon class="facebookIcon" name="logo-facebook"></ion-icon></li>
        <li (click)="shareViaWhatsApp()"> <ion-icon class="whatsAppIcon" name="logo-whatsapp"></ion-icon></li>
        <li (click)="shareViaEmail()"> <ion-icon class="emailIcon" name="mail"></ion-icon></li>
        <li (click)="shareViaInstgram()"> <ion-icon class="InstagramIcon" name="logo-instagram"></ion-icon></li>
    </ul>
  
</ion-content>


<ion-footer>
    <ion-toolbar>
        <page-tabs></page-tabs>
    </ion-toolbar>
</ion-footer>