page-health-details {
    .healthDetailsContainer {
        margin: 0;
        padding: 0;
        figure {
            margin: 0;
            padding: 0;
            // max-height: 150px;
            overflow: hidden;
        }
        .content {
            padding: 15px;
            h4 {
                margin: 0 0 15px 0;
                color: #111;
                span {
                    display: block;
                    font-size: 13px;
                    color: #333;
                }
            }
            p {
                color: $cp-extra-darker-grey;
                font-size: 12px;
                font-family: 'allerregular';
            }
            .infodate {
                font-family: 'allerregular';
                label {
                    font-size: 12px;
                    color: #222;
                    font-weight: bold;
                    i {
                        font-style: normal;
                        color: #555;
                    }
                }
                span {
                    color: #555;
                    font-size: 11px;
                }
            }
            .socialList {
                margin: 30px 0 20px 0;
                padding: 0 0 10px 0;
                border-bottom: 2px solid #238258;
                text-align: center;
                li {
                    list-style-type: none;
                    margin: 0 10px;
                    padding: 0;
                    display: inline-block;
                    ion-icon {
                        font-size: 1.8em;
                    }
                }
            }
        }
    }
     @media(min-width:768px){
        .healthDetailsContainer{
            margin: 60px 0 0 0 !important;
        }
    }
}