page-health-details {
    .healthDetailsContainer {
        margin: 0;
        padding: 0;
        figure {
            margin: 0;
            padding: 0;
            // max-height: 150px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .content {
            padding: 15px;
            h4 {
                margin: 0 0 15px 0;
                color: #2f4f4f;
                font-size: 28px;
                span {
                    display: block;
                    font-size: 18px;
                    color:#696969;
                    margin: 10px 0 0 0;
                        font-family: 'allerregular';
                }
            }
            p {
                color: $cp-extra-darker-grey;
                font-size: 12px;
                font-family: 'allerregular';
                span{
                    line-height: 28px;
                }
            }
            .infodate {
                font-family: 'allerregular';
                    margin-bottom: 20px;
                label {
                    font-size: 14px;
                    color: #000;
                    font-weight: bold;
                    i {
                        font-style: normal;
                        color: #000;
                        font-size: 14px;
                    }
                }
                span {
                    color: #000;
                    font-size: 14px;
                }
            }
            .socialList {
                margin: 30px 0 20px 0;
                padding: 0 0 10px 0;
                border-bottom: 2px solid #238258;
                text-align: center;
                li {
                    list-style-type: none;
                    margin: 0 10px;
                    padding: 0;
                    display: inline-block;
                    ion-icon {
                        font-size: 1.8em;
                    }
                }
            }
            ul{
                li{
                    line-height: 19px;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
     @media(min-width:768px){
        .healthDetailsContainer{
            margin: 60px 0 0 0 !important;
        }
    }
}